<!DOCTYPE html>
<html>
<head>
    <title>House Configure</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .auto-style6 {
            width: 210px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }
    </style>
</head>
<body>

    <!DOCTYPE html>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            margin-top: 37px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style6 {
            width: 210px;
        }

        .auto-style7 {
            width: 173px;
        }

        .auto-style8 {
            width: 210px;
            height: 129px;
        }

        .auto-style9 {
            width: 173px;
            height: 129px;
        }

        .auto-style10 {
            height: 129px;
        }

        .auto-style11 {
            width: 90%;
            height: 415px;
        }

        .auto-style15 {
            height: 18px;
            width: 169px;
        }

        .auto-style16 {
            width: 104px;
            height: 98px;
        }

        .auto-style17 {
            height: 30px;
        }
    </style>
    <table class="auto-style11">
        <tr>
            <td class="auto-style8">
                <p class="auto-style15">
                    <img alt="" class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" />Admin Page&nbsp;&nbsp;
                </p>
                <hr />
                <p style="height: 18px; width: 169px">
                    &nbsp;<img alt="" class="auto-style4" src="/images/AdminIconImages/system-512.png" />Configure System
                </p>
                <hr />
                <img alt="" class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" />House<hr />
            </td>
            <td class="auto-style9">
                &nbsp;
            </td>
            <td class="auto-style10">
                Chose Block to continue<br />
                <table style="width:100%;">
                    <tr>
                        <td>
                            <hr />
                            <img alt="Block A" class="auto-style16" src="/images/AdminIconImages/1407644478_office-building.png" />Block A
                        </td>
                        <td>
                            <hr />
                            <img alt="Block A" class="auto-style16" src="/images/AdminIconImages/1407644478_office-building.png" />Block B
                        </td>
                        <td>
                            <hr />
                            <img alt="Block A" class="auto-style16" src="/images/AdminIconImages/1407644478_office-building.png" />Block C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            <input id="Checkbox1" type="checkbox" />
                        </td>
                        <td>
                            <hr />
                            <input id="Checkbox2" type="checkbox" />
                        </td>
                        <td>
                            <hr />
                            <input id="Checkbox3" type="checkbox" />
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style17">
                            <hr />
                            <form method="post" action="BlockSetup">
                                <button type="submit">Back</button>
                            </form>
                        </td>
                        <td class="auto-style17"></td>
                        <td class="auto-style17">
                            <hr />
                            
                            <form method="post" action="addHouseStep2">
                                <button type="submit">Next</button>
                            </form>
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                <br />
            </td>
            <td class="auto-style7">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>

</body>
</html>

