<!DOCTYPE html>
<html>
<head>
    <title>House Configure</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .auto-style6 {
            width: 210px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }
    </style>
</head>
<body>

    <!DOCTYPE html>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            margin-top: 37px;
            width: 192px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style6 {
            width: 210px;
        }

        .auto-style7 {
            width: 173px;
        }

        .auto-style8 {
            width: 210px;
            height: 129px;
        }

        .auto-style9 {
            width: 173px;
            height: 129px;
        }

        .auto-style10 {
            height: 129px;
        }

        .auto-style11 {
            width: 90%;
            height: 415px;
        }

        .auto-style15 {
            height: 18px;
            width: 169px;
        }

        .auto-style17 {
            height: 30px;
        }

        #Select1 {
            font-size: medium;
            height: 32px;
            width: 53px;
        }

        #Text2 {
            width: 293px;
        }

        #Text3 {
            margin-left: 0px;
            width: 53px;
            text-align: left;
        }

        #Button2 {
            text-align: center;
        }

        .auto-style18 {
            width: 256px;
        }
    </style>
    <table class="auto-style11">
        <tr>
            <td class="auto-style8">
                <p class="auto-style15">
                    <img alt="" class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" />Admin Page&nbsp;&nbsp;
                </p>
                <hr />
                <p style="height: 18px; width: 169px">
                    &nbsp;<img alt="" class="auto-style4" src="/images/AdminIconImages/system-512.png" />Configure System
                </p>
                <hr />
                <img alt="" class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" />House<hr />
            </td>
            <td class="auto-style9">
                &nbsp;
            </td>
            <td class="auto-style10">
                <br />
                <table style="width:100%;">
                    <tr>
                        <td>
                            <p>
                                Chose Floor Number:
                            </p>
                        </td>
                        <td>
                            <select id="Select1" accesskey="Floor" aria-checked="mixed" aria-dropeffect="popup" aria-expanded="true" aria-grabbed="false" aria-label="Floor Number" aria-live="assertive" aria-sort="ascending" aria-valuemax="15" aria-valuemin="1" aria-valuenow="1" aria-valuetext="15" name="D1" style="background-color: #FFFFFF">
                                <option></option>
                            </select>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            House Name
                        </td>
                        <td>
                            <input id="Text1" type="text" />
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style17">Description</td>
                        <td class="auto-style17">
                            <input id="Text2" type="text" />
                        </td>
                        <td class="auto-style17">
                            &nbsp;
                        </td>
                    </tr>
               
                    <tr>
                        <td class="auto-style18">Area</td>
                        <td>
                            <input id="Text3" type="text" />
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td class="auto-style18">
                            

                            <form method="post" action="addHouseStep1">
                                <button type="submit">Back</button>
                            </form>
                        </td>
                        <td>
                            <input id="Reset1" type="reset" value="reset" />
                            
                        </td>
                        <td>
                            <input id="Submit1" type="submit" value="submit" />
                        </td>
                    </tr>
                
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                <br />
            </td>
            <td class="auto-style7">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>

</body>
</html>

