<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            margin-top: 37px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }

        .auto-style2 {
            width: 102px;
            height: 112px;
        }

        .auto-style3 {
            width: 92px;
            height: 83px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style6 {
            width: 210px;
        }

        .auto-style7 {
            width: 89%;
        }

        .auto-style8 {
            height: 31px;
            width: 178px;
        }

        .auto-style9 {
            height: 40px;
            width: 182px;
        }

        .auto-style10 {
            width: 17px;
        }
    </style>
</head>
<body>

    <table class="auto-style7">
        <tr>
            <td class="auto-style6">
                <p class="auto-style9">
                    <img alt="" class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" />Admin Page&nbsp;&nbsp;
                </p>
                <p class="auto-style8">
                    &nbsp;<img alt="" class="auto-style4" src="/images/AdminIconImages/system-512.png" />Configure System
                </p>
            </td>
            <td>
                <span>
                    <img alt="/BlockSetup" class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" />@Html.ActionLink("House", "BlockSetup")
                    
                </span>

            </td>

        </tr>
        <tr>
            <td class="auto-style6"></td>
            <td>
                <img alt="" class="auto-style3" src="/images/AdminIconImages/profile-512.png" />Account
        </tr>
        <tr>
            <td class="auto-style6"></td>
            <td>
                <img alt="" class="auto-style2" src="/images/AdminIconImages/formula_icon.jpg" />Fomular
            </td>

        </tr>
    </table>

</body>
</html>
