
@{
    ViewBag.Title = "Update House";


}
 List<House> allHouseInfo = ViewBag.allHouseInfo;
         <div id="content">
             <table class="table">
                 <thead>
                     <tr>
                         <th>Update House</th>
                     </tr>
                 </thead>
                 <tbody id="housetablebody"></tbody>
             </table>
             @using (Html.BeginForm("updateHouse", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {
                 @*<label>ID</label>
                <input class="form-control" name="Id" id="Id" />*@
                 
                 <label>House Name</label>
                 <input class="form-control" name="HouseName" id="HouseName" />
                 <label>Description</label>
                 <input class="form-control" name="Description" id="Description" />
                
                 <input type="reset" class="btn btn-default" value="Reset" />
                 <input type="submit" class="btn btn-success" value="Update" id="btnsubmit" />
                // <input type="submit" class="btn btn-success" value="Thêm nhà vào hệ thống" id="btnsubmit" />
                 // <input class="btn btn-success" onclick="addHouseByAjax()" value="Them nha bang Ajax" />

