@{ 
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="sidebar left hidden-xs">
    <div id="menu" data-scrollable="" tabindex="0" style="overflow: hidden; outline: none;">
        <ul>
            <li class="category">Quản lí dịch vụ</li>
           
            <li class="active">
                <a href="/Service/Receipt"><i class="fa fa-fw fa-dollar"></i> Hóa đơn</a>
            </li>
            <li class="">
                <a href="/Service/Provider"><i class="fa fa-fw fa-coffee"></i> Dịch vụ xung quanh</a>
            </li>
            <li class="">
                <a href="/Service/SendRequest"><i class="fa fa-fw fa-phone"></i> Hỗ trợ</a>
            </li>
        
            <li class="category border top">Hoạt động gần đây</li>
            <li class="reset">
                <ul>
                    <li class="media news-item">
                        <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                    <li class="media news-item">
                        <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just added <a href="" class="text-white">mosaicpro</a> as their office
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                    <li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                    <li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                    <li class="media news-item">
                        <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="category">Filter</li>
            <li class="reset">
                <ul>
                    <li>
                        <a href="#"><span class="fa fa-fw fa-circle-o text-success"></span> Work Related</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-fw fa-circle-o text-primary"></span> Very Important</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-fw fa-circle-o text-info"></span> Friends &amp; Family</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="ascrail2000" class="nicescroll-rails" style="width: 5px; z-index: 1; cursor: default; position: absolute; top: 0px; left: 245px; height: 638px; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 5px; height: 472px; border: 0px; border-radius: 5px; background-color: rgb(37, 173, 159); background-clip: padding-box;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 5px; z-index: 1; top: 633px; left: 0px; position: absolute; cursor: default; display: none; width: 245px; opacity: 0;"><div style="position: absolute; top: 0px; height: 5px; width: 250px; border: 0px; border-radius: 5px; background-color: rgb(37, 173, 159); background-clip: padding-box;"></div></div>
</div>
<div id="content">
    @RenderBody()
</div>