@{
    ViewBag.Title = "View House Info";
    Layout = "~/View/Service/_ServiceLayout.cshtml";
   // <script type="text/javascript" src="https://gstati"
    // List<House> allHouse = ViewBag.allHouse;
    List<House> allHouseInfo = ViewBag.allHouseInfo;
}
<div id="content">


    <table class="table">
        <thead>
            <tr>
                <th>Block</th>
                <th>Floor</th>
                <th>House Name</th>
            </tr>
        </thead>
        <tbody id="housetablebody"></tbody>
        @{ 
            foreach(House allHouseInfo in allHouseInfo)
                <tr>
                    <td>@allHouseInfo</td>
                    <td></td>
                    <td></td>
                </tr>
        }
    </table>
</div>