@{
    ViewBag.Title = "Provider";
    Layout = "~/Views/Service/_ServiceLayout.cshtml";


    <link href="~/Content/css/thumbnails.css" rel="stylesheet" />

}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Tìm kiếm dịch vụ</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Loại dịch vụ</label>
                    <div class="col-sm-9">
                        <select name="select" class="selectpicker" data-size="3">
                            <option>Dịch vụ internet</option>
                            <option>Dịch vụ sữa chữa</option>
                            <option>Khác</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-offset-3 col-md-2">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>

                </div>


            </form>
        </div>
    </div>
    <!--Pattern HTML-->
    <div id="pattern" class="pattern">
        <ul class="list img-list">
            <li>
                <a href="#" class="inner">
                    <div class="li-img">
                        <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                    </div>
                    <div class="li-text">
                        <h4 class="li-head">Dịch vụ A</h4>
                        <p class="li-sub">
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="inner">
                    <div class="li-img">
                        <img src="/images/people/50/guy-7.jpg" alt="people" class="media-object img-circle pull-left" />
                    </div>
                    <div class="li-text">
                        <h4 class="li-head">Dịch vụ A</h4>
                        <p class="li-sub">
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="inner">
                    <div class="li-img">
                        <img src="/images/people/50/guy-3.jpg" alt="people" class="media-object img-circle pull-left" />
                    </div>
                    <div class="li-text">
                        <h4 class="li-head">Dịch vụ A</h4>
                        <p class="li-sub">
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="inner">
                    <div class="li-img">
                        <img src="/images/people/50/guy-1.jpg" alt="people" class="media-object img-circle pull-left" />
                    </div>
                    <div class="li-text">
                        <h4 class="li-head">Dịch vụ A</h4>
                        <p class="li-sub">
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="inner">
                    <div class="li-img">
                        <img src="/images/people/50/guy-2.jpg" alt="people" class="media-object img-circle pull-left" />
                    </div>
                    <div class="li-text">
                        <h4 class="li-head">Dịch vụ A</h4>
                        <p class="li-sub">
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="inner">
                    <div class="li-img">
                        <img src="/images/people/50/guy-4.jpg" alt="people" class="media-object img-circle pull-left" />
                    </div>
                    <div class="li-text">
                        <h4 class="li-head">Dịch vụ A</h4>
                        <p class="li-sub">
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset>
                        </p>
                    </div>
                </a>
            </li>


        </ul>
    </div>
    <!--End Pattern HTML-->


</div>
