@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


@*<nav class="navbar navbar-subnav navbar-static-top" role="navigation">*@
@*    <div class="container">*@
@*        <!-- Brand and toggle get grouped for better mobile display -->*@
@*        <div class="navbar-header">*@
@*            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">*@
@*                <span class="sr-only">Toggle navigation</span>*@
@*                <span class="fa fa-ellipsis-h"></span>*@
@*            </button>*@
@*        </div>*@
        <!-- Collect the nav links, forms, and other content for toggling -->
@*        <div class="collapse navbar-collapse" id="subnav">*@
@*            <ul class="nav navbar-nav">*@
@*                <li class="active">*@
@*                    <a href="/Home/HelpdeskRequest/ViewHistory/@User.Identity.GetUserId()"><i class="fa icon-headphones"></i> Quản lý yêu cầu</a>*@
@*                </li>*@
@*                <li class="">*@
@*                    <a href="/Management/ManageRequestView/@User.Identity.GetUserId()"><i class="fa fa-cogs"></i> Quản lý dịch vụ hổ trợ</a>*@
@*                </li>*@
@*                <li>*@
@*                    <a href="/Management/ManageReceipt/@User.Identity.GetUserId()"><i class="fa fa-file-text-o"></i> Quản lý hóa đơn</a>*@
@*                </li>*@
@*                <li>*@
@*                    <a href="/Management/ManageIncome"><i class="fa fa-dollar"></i> Quản lý thu chi</a>*@
@*                </li>*@
@*                <li>*@
@*                    <a href="/Management/ManageReport"><i class="fa fa-mail-reply-all"></i> Quản lý Báo cáo</a>*@
@*                </li>*@
@*                <li>*@
@*                    <a href="login.html"><i class="fa fa-list-ol"></i> Khảo sát</a>*@
@*                </li>*@
@*            </ul>*@
@*            <ul class="nav navbar-nav navbar-right hidden-xs">*@
@*                <li>*@
@*                    <a href="login.html">Logout  <i class="fa fa-fw icon-unlock-fill"></i></a>*@
@*                </li>*@
@*            </ul>*@
@*        </div>*@
        <!-- /.navbar-collapse -->
@*    </div>*@
@*</nav>*@

<div id="content" style="margin-left: 0">
   
    @RenderBody()
    <!--Footer-->
    <div class="footer">
        Social Network Template © Copyright Notice
    </div>
</div>
