@{
    List<HelpdeskServiceCategory> hdSrvCategories = ViewBag.helpdeskServiceCategories;
}
<div class="panel panel-default" style="border-color: transparent">
    <form id="searchStrHdSrvCatForm"class="form-horizontal" role="form" onkeypress="return event.keyCode !== 13;">
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-3 col-md-7">
                    <input class="form-control col-md-11" id="searchStr" name="searchStrHdSrvCat">
                    <span onclick="searchHdSrvCategory()" class="btn btn-primary btn-md-1" style="margin-left: 5px">Search</span>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="btn btn-info" data-toggle="modal" data-target="#hdSrvCategoryModal"
                          data-placement="top" onclick="openHdSrvCategoryModal()">
                        <i class="fa fa-plus"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tên</th>
                        <th class="text-right">Thao tác</th>
                    </tr>
                </thead>
                <tbody id="hdSrvCatTblBody">
                    @Html.Partial("_helpdeskServiceCategoryTablePartial")
                </tbody>
            </table>
        </div>
        <div class="form-group" id="delHdSrvBtnGroup" style="display: none">
            <span class="btn btn-primary col-sm-1 pull-right" style="margin-left: 5px" onclick="commitDeleteHdSrvCategory()">
                <i class="fa fa-plus"></i> Delete
            </span>
            <span class="btn btn-inverse col-sm-1 pull-right" onclick="cancelDeleteHdSrvCategory()"
                  style="background-color: transparent; color: #ab7a4b; border-color: transparent;">
                <i class="fa fa-plus"></i> Cancel
            </span>
        </div>
        <!-- // Progress table -->
        @*        <div class="panel-footer padding-none text-center">*@
        @*            <ul class="pagination">*@
        @*                <li>*@
        @*                    <a href="#">&laquo;</a>*@
        @*                </li>*@
        @*                <li class="active">*@
        @*                    <a href="#">1</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">2</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">3</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">4</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">5</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">&raquo;</a>*@
        @*                </li>*@
        @*            </ul>*@
        @*        </div>*@

    </form>
</div>
