@{
    ViewBag.Title = "CreateReceipt";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">

        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="timeline row" data-toggle="gridalicious">
                    <div class="timeline-block">
                        <div class="panel panel-default user-box">
                            <div class="panel-body">
                                <div class="media">
                                    <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left"/>
                                    <div class="media-body">
                                        <a href="" class="username">Căn hộ A19</a>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Ngày: </span>
                                        </div>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Tầng: </span>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="col-md-4 pull-right">
                    <div class="col-sm-offset-0 col-md-4">
                        <button type="submit" class="btn btn-primary">In </button>
                        
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr>

                                <th>Mã dịch vụ</th>
                                <th>Tên dịch vụ</th>
                                <th>Số lượng</th>
                                <th>Giá </th>
                                <th>Tổng</th>

                            </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                  
                                    <div class="col-sm-9">
                                        <select name="select" class="selectpicker" data-size="3">
                                            <option>Dịch vụ internet</option>
                                            <option>Dịch vụ sữa chữa</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                                    </div>
                                </div>
                            </td>


                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">

                                    <div class="col-sm-offset-0 col-md-2">
                                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                      
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>
