@{
    List<HelpdeskService> helpdeskServices = ViewBag.helpdeskServices;
}
<div class="panel panel-default" style="border-color: transparent">
    <form class="form-horizontal" id="searchHdSrv" role="form" onkeypress="return event.keyCode !== 13;">
        <div class="form-group">
            <div class="col-md-offset-3 col-md-7">
                <input type="email" class="form-control col-md-11" id ="searchStr" name="searchStr">
                <span onclick="searchHdSrv()" class="btn btn-primary btn-md-1" style="margin-left: 5px">Search</span>
            </div>
            <div class="col-md-1 pull-right">
                <span class="btn btn-info" data-toggle="modal" data-target="#addHelpdeskRequestModal"
                        data-placement="top" title="Edit" onclick="loadHelpdeskServiceType()">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="hdReqFilterType">Lọc bởi</label>
            <div class="col-md-offset-1 col-md-3">
                <select id="hdReqFilterType" name="filterMode" class="form-control">
                    <option value="0" selected="selected">Tất cả</option>
                    <option value="1">Nhóm</option>
                    <option value="2">Trạng thái</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="hdReqFilterResult" name="filterValue" class="form-control"></select>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tên</th>
                        <th>Nhóm</th>
                        <th>Giá tiền</th>
                        <th>Trạng thái</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody id="hdSrvTblBody">
                    @Html.Partial("_helpdeskSeviceTablePartial", helpdeskServices)
                </tbody>
            </table>
        </div>

        <div class="form-group" id="delBtnGroup" style="display: none">
            <span class="btn btn-primary col-sm-1 pull-right" style="margin-left: 5px" onclick="commitDeleteHelpdeskService()">
                <i class="fa fa-plus"></i> Delete
            </span>
            <span class="btn btn-inverse col-sm-1 pull-right" onclick="cancelDeleteHelpdeskService()"
                  style="background-color: transparent; color: #ab7a4b; border-color: transparent;">
                <i class="fa fa-plus"></i> Cancel
            </span>
        </div>
        @**@
        @*        <!-- // Progress table -->*@
        @*        <div class="panel-footer padding-none text-center">*@
        @*            <ul class="pagination">*@
        @*                <li>*@
        @*                    <a href="#">&laquo;</a>*@
        @*                </li>*@
        @*                <li class="active">*@
        @*                    <a href="#">1</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">2</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">3</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">4</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">5</a>*@
        @*                </li>*@
        @*                <li>*@
        @*                    <a href="#">&raquo;</a>*@
        @*                </li>*@
        @*            </ul>*@
        @*        </div>*@

    </form>
</div>
