@{
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}
<div class="row">
    <div class="panel panel-default event" style="width:300px;height:100px;float:left;margin-right:20px">
        <div class="panel-heading" style="width:100%;height:100%">
            <div class="media" style="width:100%;height:100%;background-color:#b9fbf4">
                <a href="" class="pull-left">
                    <i class="fa fa-fw fa-bug" style="font-size:5em;color:#ff5b5b"></i>
                </a>
                <div class="media-body">
                    <a href="/Home/HelpdeskRequest/ViewHistory" class="navbar-brand" style="color:#ff5b5b">
                        QUẢN LÍ YÊU CẦU HELPDESK
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="width:300px;height:100px;background-color:yellow;float:left">

    </div>
    <div style="width:300px;height:100px;background-color:yellow;float:left">

    </div>
    <div style="width:300px;height:100px;background-color:yellow;float:left">

    </div>
    <div style="width:300px;height:100px;background-color:yellow;float:left">

    </div>

</div>

