
@{
    ViewBag.Title = "ManageReport";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray"><h3>Quản lý báo cáo</h3></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr>

                            <th>Tên người dùng</th>
                            <th>Kiểu báo cáo</th>
                            <th>Chi tiết</th>
                           


                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <div class="panel panel-default user-box">
                                    <div class="panel-body">
                                        <div class="media">
                                            <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                            <div class="media-body">
                                                <a href="" class="username">Adrian D.</a>
                                                <div class="profile-icons">
                                                    <span><i class="fa fa-users"></i> Chủ nhà </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Bài đăng vi phạm nội quy">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">

                                    <div class="col-sm-offset-0 col-md-2">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Chi tiết</button>
                                    </div>

                                </div>
                            </td>
                          


                        </tr>
                        <tr>

                            <td>
                                <div class="panel panel-default user-box">
                                    <div class="panel-body">
                                        <div class="media">
                                            <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                            <div class="media-body">
                                                <a href="" class="username">Adrian D.</a>
                                                <div class="profile-icons">
                                                    <span><i class="fa fa-users"></i> Chủ nhà </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Bài đăng vi phạm nội quy">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">

                                    <div class="col-sm-offset-0 col-md-2">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Chi tiết</button>
                                    </div>

                                </div>
                            </td>



                        </tr>
                        <tr>

                            <td>
                                <div class="panel panel-default user-box">
                                    <div class="panel-body">
                                        <div class="media">
                                            <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                            <div class="media-body">
                                                <a href="" class="username">Adrian D.</a>
                                                <div class="profile-icons">
                                                    <span><i class="fa fa-users"></i> Chủ nhà </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Bài đăng vi phạm nội quy">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">

                                    <div class="col-sm-offset-0 col-md-2">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Chi tiết</button>
                                    </div>

                                </div>
                            </td>



                        </tr>
                    </tbody>
                </table>
            </div>
           
         
        </div>
        <div class="panel-footer padding-none text-center">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Đăng ký thêm thành viên mới</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="panel panel-default user-box center-block">
                            <div class="panel-body">
                                <div class="media">
                                    <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                    <div class="media-body">
                                        <a href="" class="username">Adrian D.</a>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Chủ nhà </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Kiểu báo cáo vi phậm</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" value="bài đăng thô tục">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Bài đăng</label>
                            <div class="col-sm-9">
                                <a href="#" class="form-control">Bài đăng 6</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Nội dung</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="5">...................................</textarea>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>
                <button type="button" class="btn btn-primary">Đồng ý</button>
                <button type="button" class="btn btn-primary">Từ chối</button>
            </div>
        </div>
    </div>
</div>