@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ManageRequest";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Quản lý nhóm DV sửa chữa</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="">
                    <a href="/Management/Config/UtilityService/View"><i class="fa fa-usd"></i> Phí sinh họat</a>
                </li>
                <li class="">
                    <a href="/Management/Config/UtilityService/ViewManageHouseBlock"><i class="fa fa-home"></i> Căn hộ</a>
                </li>
                <li >
                    <a href="/Management/ManageRequestView"><i class="fa fa-wrench"></i> DV sửa chữa</a>
                </li>
                <li class="active">
                    <a href="/Management/ViewHelpdeskServiceCategory"><i class="fa fa fa-tags"></i> Nhóm DV sửa chữa</a>
                </li>
                <li class="">
                    <a href="/Management/BalanceSheet/ManageTransactionCatView"><i class="fa fa-tags"></i> Nhóm thu chi</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <form class="form-horizontal" id="searchHdSrv" role="form" onkeypress="return event.keyCode !== 13;">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="hdSrvCatTable" class="table v-middle  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Tên</th>
                                        <th class="text-right">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody id="hdSrvCatTblBody">
                                    @Html.Partial("_helpdeskServiceCategoryTablePartial")
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="messageModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="hdSrvMsgModalTitle" class="modal-title">Thông Báo !</h4>
                </div>
                <div class="modal-body">
                    <p id="msgContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="hdSrvCategoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="hdSrvCateModalTitle" class="modal-title">Thêm loại dịch vụ hổ trợ</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="alert alert-info" id="hdSrvCatSuccessNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Nhóm dịch vụ hổ trợ được khởi tạo thành công.</span>
                        </div>
                        <div class="alert alert-danger" id="hdSrvCatFailedNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Nhóm dịch vụ hổ trợ được khởi tạo thất bại.</span>
                        </div>
                        <form id="hdSrvCategoryForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="hdSrvCatName" class="col-sm-3 control-label">Tên </label>
                                <div class="col-sm-9">
                                    <input id="hdSrvCatName" type="text" name="hdSrvCatName" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-9 col-md-2">
                                    <button id="addHdSrvCat" name="addHdSrvCat" type="submit" class="btn btn-primary">Chấp nhận</button>
                                </div>
                            </div>
                            <input type="hidden" id="hdSrvCatId" name="hdSrvCatId" value="" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

