@using AMS.Enum
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Danh sách yêu cầu</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li>
                    <a href="/Home/HelpdeskRequest/ViewHistory"><i class="fa fa-life-ring"></i> Yêu cầu sửa chữa</a>
                </li>
                <li class="active">
                    <a href="/Management/ResidentApprovement/@User.Identity.GetUserId()"><i class="fa fa-group"></i> Xác nhận dân cư</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">acceptApproveUser()

                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <!-- Data table -->
                        <table id="residentApproveTbl" data-fromuserid="@User.Identity.GetUserId()" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên cư dân</th>
                                    <th>Căn hộ</th>
                                    <th>Chủ hộ</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Tên cư dân</th>
                                    <th>Căn hộ</th>
                                    <th>Chủ hộ</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                        <!-- // Data table -->
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<div id="residentInfoDetail" class="modal fade ams-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thông tin chi tiết cư dân</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="resName" class="col-md-4 control-label">Tên</label>
                            <div class="col-md-6">
                                <input id="resName" readonly="readonly" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resHouseName" class="col-md-4 control-label">Căn hộ</label>
                            <div class="col-md-6">
                                <input id="resHouseName" readonly="readonly" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resId" class="col-md-4 control-label">CMND</label>
                            <div class="col-md-6">
                                <input id="resId" readonly="readonly" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resGender" class="col-md-4 control-label">Giới tính</label>
                            <div class="col-md-6">
                                <input id="resGender" readonly="readonly" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resHouseHolder" class="col-md-4 control-label">Chủ hộ</label>
                            <div class="col-md-6">
                                <input id="resHouseHolder" readonly="readonly" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resCreateDate" class="col-md-4 control-label">Ngày nhập căn hộ</label>
                            <div class="col-md-6">
                                <input id="resCreateDate" readonly="readonly" type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="confirmModal" class="modal fade  ams-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thông tin xác nhận</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <p style="    font-size: 17px;" id="msgConfirm"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="acceptApproveUser()">Chấp nhận</button>
            </div>
            <input type="hidden" id="residentId" value="" />
            <input type="hidden" id="mode" value="" />
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");

        var userId = document.getElementById("residentApproveTbl");
        if (userId) {
            userId = userId.dataset.fromuserid;
        }
        window.dataTable2 = $("#residentApproveTbl").DataTable({
            "ajax": {
                url: "/Management/ResidentApprovement/GetResidentApprovementList?userId=" + userId,
                dataSrc: ""
            },
            "rowId": 'UserId',
            "bLengthChange": false,
            "bInfo": false,
            "columns": [
                { data: "UserId" },
                { data: "FullName" },
                { data: "HouseName" },
                { data: "HouseHolderName" },
                { data: "CreateDate" },
                { data: "UserId" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 1,
                    "width":"30%"
                },
                {
                    "targets": 2,
                    "data": "HouseName",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<span class='label house-color label-warning'>" + data + "</span>";
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "data": "CreateDate",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data !== null && data !== undefined) {
                                var dateTime = data.split(" ");
                                return "<span class='label date-color label-warning'>" + dateTime[0] +
                                    "</span>  <span class='label time-color label-gray'>" + dateTime[1] + "</span>";
                            }
                            return "Đang xác nhận";
                        }
                        return data;
                    }
                },
                {
                    "targets": 5,
                    "width": "12%",
                    "data": "UserId",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var test = data + ",'" + full.FullName + "','" + full.HouseName + ",";
                 return "<div class='text-right'> " +
                        "<td> " +
                       "<span onclick='resInfoDetail(" + data + ")' class='btn btn-default btn-xs lbl-margin-right'>" +
                        "<i class='fa fa-info-circle'></i>" +
                       "</span> " +
                        "<span class='btn btn-primary btn-xs lbl-margin-right' onclick='showConfirmMsg(\"" + "accept" + "\"," + "\"" + data + "\",\"" + full.FullName + "\"" + ",\"" + full.HouseName + "\"" + ")'>" +
                            "<i class='fa fa-check-square-o'></i>" +
                        "</span>" +
                        "<span class='btn btn-danger btn-xs lbl-margin-right' onclick='showConfirmMsg(\"" + "reject" + "\"," + "\"" + data + "\",\"" + full.FullName + "\"" + ",\"" + full.HouseName + "\"" + ")'>" +
                            "<i class='fa fa-times'></i>" +
                        "</span>" +
                    "</td>" +
                    "</div>";
                        }
                        return data;
                    }
                }

            ], "order": [[1, "asc"]]
        });
        generateTableIndex(dataTable2);
        $('#residentApproveTbl').on('click', 'tr', function () {
            window.currentRow = $(this);
        });

    });
</script>