
@{
    ViewBag.Title = "ViewReceipt";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
      
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="timeline row" data-toggle="gridalicious">
                    <div class="timeline-block">
                        <div class="panel panel-default user-box">
                            <div class="panel-body">
                                <div class="media">
                                    <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                    <div class="media-body">
                                        <a href="" class="username">Căn hộ A19</a>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Ngày: </span>
                                        </div>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Tầng: </span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                

                </div>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr>

                                <th>Mã dịch vụ</th>
                                <th>Tên dịch vụ</th>
                                <th>Số lượng</th>
                                <th>Giá </th>
                                <th>Tổng</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <span class="label label-gray">19/09/2014</span>
                                </td>
                                <td>
                                    <img src="/images/people/110/guy-5.jpg" width="40" class="img-circle" /> Jonathan Smith
                                </td>
                                <td>
                                   10
                                </td>
                                <td>
                                   200 
                                </td>
                                <td>
                                   2000
                                </td>
                            </tr>
                        <tr>

                            <td>
                                <span class="label label-gray">19/09/2014</span>
                            </td>
                            <td>
                                <img src="/images/people/110/guy-5.jpg" width="40" class="img-circle"/> Jonathan Smith
                            </td>
                            <td>
                                <a href="#">contact@mosaicpro.biz</a>
                            </td>
                            <td>
                                Miami, FL<a href="#"><i class="fa fa-map-marker fa-fw text-muted"></i></a>
                            </td>
                            <td>
                                Miami, FL<a href="#"><i class="fa fa-map-marker fa-fw text-muted"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">Tổng giá</td>
                            <td>400 Vnđ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>

