@{
    ViewBag.Title = "Nhà";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    User curUser = ViewBag.curUser;
    House curHouse = ViewBag.curHouse;
}

<link rel="stylesheet" href="~/Content/css/FamilyTree.css" type="text/css" />
<script src="~/Scripts/amsScript/LoadFamilyTree.js"></script>
<script src="~/Scripts/amsScript/LoadUserProfile.js"></script>

<div id="notAvailable" style="width:100%;text-align:center">
    <img src="~/Content/images/58164.jpg" style="width:50%%;height:auto" />
</div>
<div id="comebackAgain" style="text-align:center">
    <h3>Cả nhà hiện đi vắng, mời anh, chị quay lại sau</h3>
</div>