@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}


<div class="col-md-12">
    <div class="panel panel-default">

        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Danh nhóm dịch vụ xung quanh</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/Management/AroundService/Manage"><i class="fa fa-search-plus"></i> Dịch vụ xung quanh</a>
                </li>
                <li class="">
                    <a href="/Management/AroundService/ManageCategory"><i class="fa fa-tags"></i> Nhóm dịch vụ xung quanh</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <div class="table-responsive col-md-12">
                            <!-- Data table -->
                            <table id="serviceProviderTbl" class="table v-middle  table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên dịch vụ </th>
                                        <th>Nhóm</th>
                                        <th>Lượt xem</th>
                                        <th>Ngày tạo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên dịch vụ </th>
                                        <th>Nhóm</th>
                                        <th>Lượt xem</th>
                                        <th>Ngày tạo</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                            <!-- // Data table -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addServiceProviderModal" class="modal fade ams-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="incomeLineModalTitle" class="modal-title">Tạo mới dịch vụ xung quanh</h4>
            </div>
            <form id="addServiceProviderForm" class="form-horizontal" role="form">
                <div class="modal-body">
                    <div class="panel-body">

                        <div class="alert alert-info" id="successAddTransNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Tạo mới dịch vụ xung quanh thành công.</span>
                        </div>
                        <div class="alert alert-danger" id="failedAddTransNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Tạo mới dịch vụ xung quanh thất bại.</span>
                        </div>
                        <div class="alert alert-danger" id="failedAddTransWithMsgNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="addTransMsg"></span>
                        </div>

                        <div class="form-group">
                            <label for="srvProvName" class="col-md-3 control-label">Tên </label>
                            <div class="col-md-9">
                                <input id="srvProvName" type="text" name="SrvProvName" class="form-control" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="srvProvCatId" class="col-md-3 control-label">Nhóm </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select id="srvProvCatId" name="SrvProvCatId" class="form-control" data-size="3"></select>
                                    <span class="input-group-addon btn btn-stroke btn-info btn-sm" onclick="closePopupAndShowOther()"><i class="fa fa-plus"></i> Nhóm</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">SĐT</label>
                            <div class="col-md-9">
                                <input id="srvProvTel" type="text" name="SrvProvTel" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Địa chỉ</label>
                            <div class="col-md-9">
                                <textarea id="srvProvAddress" name="SrvProvAddress" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="srvProvDesc" class="col-md-3 control-label">Mô tả</label>
                            <div class="col-md-9">
                                <textarea id="srvProvDesc" name="SrvProvDesc" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="srvProvId" name="SrvProvId" />
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 0">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="updateIncomeTrans" class="btn btn-info">Chấp nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="addTransactionCatModal" class="modal fade ams-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="hdSrvModalTitle" class="modal-title">Thêm nhóm dịch vụ xung quanh</h4>
            </div>
            <form id="addTransactionCatForm" class="form-horizontal" role="form">
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="alert alert-info" id="successAddTransTypeNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Thêm nhóm dịch vụ xung quanh thành công.</span>
                        </div>
                        <div class="alert alert-danger" id="failedAddTransTypeNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Thêm nhóm dịch vụ xung quanh thất bại.</span>
                        </div>
                        <div class="alert alert-danger" id="msgFailedAddTransTypeNotify" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="failedMsg">Thêm nhóm dịch vụ xung quanh thất bại.</span>
                        </div>

                        <div class="form-group">
                            <label for="serviceProviderCatName" class="col-md-3 control-label">Tên </label>
                            <div class="col-md-9">
                                <input id="serviceProviderCatName" type="text" name="ServiceProviderCatName" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 0">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="addHdSrv"  class="btn btn-info">Chấp nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        //        var userId = document.getElementById("serviceProviderTbl");
        //        if (null !== userId && undefined != userId) {
        //            userId = userId.dataset.userid;
        //        }
        window.deleteProvider = [];
        window.serviceProviderTbl = $("#serviceProviderTbl").DataTable({
            "ajax": {
                url: "/Management/AroundService/GetAllProviderList",
                dataSrc: function (data) {
                    window.provider = data;
                    return data;
                }
            },

            "bLengthChange": false,
            "bInfo": false,
            "drawCallback": function (settings) {
                var addBtn = "<div class='col-md-1'>" +
                                "<span class='btn btn-info' onclick='showAddNewServiceProviderModal()'>" +
                                "<i class='fa fa-plus'></i>" +
                                "</span>" +
                            "</div>";
                $("#serviceProviderTbl_wrapper > div:nth-child(1) > div:nth-child(1)").html(addBtn);

                var deleteBtn =
            "<div class='hide' id='delHdSrvBtnGroup'>" +
                "<span class='btn btn-warning btn-stroke' onclick='cancelDeleteTrans()'>" +
                    "Hủy" +
                "</span>" +
                "<span class='btn btn-primary' style='margin-left: 5px' onclick='commitDeleteTrans()'>" +
                    "Chấp nhận" +
                "</span>" +
            "</div>";
                $("#serviceProviderTbl_wrapper > div.row:nth-child(3) > div:nth-child(1) ").html(deleteBtn);
            },
            "columns": [
                { data: "SrvProvName" },
                { data: "SrvProvName" },
                { data: "SrvProvCatName" },
                { data: "SrvProvView" },
                { data: "SrvProvCreateDate" },
                { data: "SrvProvId" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 1,
                    "width": "25%"
                },
                {
                    "targets": 2,
                    "data": "SrvProvCatName",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<strong>" + data + "</strong>";
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "data": "SrvProvCreateDate",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<strong>" + data + "</strong> ";
                        }
                        return full.SrvProvCreateDateLong;
                    },
                    "width": "15%"
                },
                {
                    "targets": 5,
                    "data": "SrvProvId",
                    "searchable": false,
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<div class='pull-right'>" +
                                "<span class='btn btn-default btn-xs' onclick='getServiceProviderDetail(\"" + data + "\")'> <i class='fa fa-pencil'></i> </span>" +
                                 "<span class='btn btn-danger btn-xs' onclick='deleteTrans(\"" + data + "\"" + ")'>" +
                                       "<i class='fa fa-times'></i>" +
                                   "</span>" +
                            "</div>";
                        }
                        return data;
                    }
                }
            ], "order": [[4, 'desc']]
        });
        generateTableIndex(window.serviceProviderTbl);
        validateUpdateServiceProviderInfo();
    });
    function getServiceProviderDetail(id) {
        location.href = "/Management/AroundService/Update?providerId=" + id;
    }
    function deleteTrans(id) {
        window.deleteProvider.push(parseInt(id));
        window.serviceProviderTbl.row("#provider_" + id).remove().draw(false);
        $("#delHdSrvBtnGroup").removeClass("hide").addClass("show");
    }
    function cancelDeleteTrans() {
        for (var i = 0; i < window.provider.length; i++) {
            var originItem = window.provider[i];
            for (var z = 0; z < window.deleteProvider.length; z++) {
                var deleteItem = window.deleteProvider[z];
                if (originItem.SrvProvId === deleteItem) {
                    window.serviceProviderTbl.row.add(originItem).draw();
                }
            }
        }
        window.deleteProvider = new Array();
        $("#delHdSrvBtnGroup").removeClass("show").addClass("hide");;
    }
    function commitDeleteTrans() {
        var postData = {
            deleteItem: window.deleteProvider
        }
        $.ajax({
            url: "/Management/AroundService/DeleteProvider",
            type: "post",
            data: postData,
            dataType: "json",
            traditional: true,
            success: function (data) {
                if (data.StatusCode === 0) {
                    window.serviceProviderTbl.ajax.reload(null, false);
                    window.deleteHdSrvList = new Array();
                    $("#delHdSrvBtnGroup").removeClass("show");
                    $("#delHdSrvBtnGroup").addClass("hide");
                } else {
                    $("#delHdSrvBtnGroup").removeClass("show");
                    $("#delHdSrvBtnGroup").addClass("hide");
                    $("#messageModal .msgContent").text("Xóa dịch vụ hỗ trợ thất bại!");
                }
            },
            error: function () {

            }
        });
    }
    function showAddNewServiceProviderModal() {
        $.ajax({
            url: "/Management/AroundService/GetServiceProviderCat",
            type: "get",
            success: function (data) {
                var htmlTag = parseJsonToSelectTags(data);
                $("#srvProvCatId").html(htmlTag);
                $("#addServiceProviderModal").modal("show");
                console.log(data);
            },
            error: function () {

            }
        });
    }
    function addNewServiceProvider() {
        $.ajax({
            url: "/Management/AroundService/AddServiceProvider",
            type: "post",
            data: $("#addServiceProviderForm").serialize(),
            dataType: "json",
            traditional: true,
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#successAddTransNotify").fadeIn("slow");
                    window.serviceProviderTbl.ajax.reload(null, false);
                    setTimeout(function () {
                        $("#successAddTransNotify").fadeOut("slow");
                        resetFormData("addServiceProviderForm");
                    }, 3000);
                } else if (data.StatusCode === 2) {
                    $("#addTransMsg").text("Không tìm thấy địa chỉ trên google map");
                    $("#failedAddTransWithMsgNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#failedAddTransWithMsgNotify").fadeOut("slow");
                    }, 3000);
                } else {
                    $("#failedAddTransNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#failedAddTransNotify").fadeOut("slow");
                    }, 3000);
                }
                console.log(data);
            },
            error: function () {

            }
        });
    }
    function addServiceProviderCat() {
        $.ajax({
            url: "/Management/AroundService/AddServiceProviderCat",
            type: "Post",
            data: {
                name: $("#serviceProviderCatName").val().trim()
            },
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#successAddTransTypeNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#successAddTransTypeNotify").fadeOut("slow");
                        resetFormData("addTransactionCatForm");
                    }, 3000);
                } else if (data.StatusCode === 2) {
                    $("#failedMsg").text("Tên nhóm dịch vụ xung quanh đẵ tồn tại");
                    $("#msgFailedAddTransTypeNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#msgFailedAddTransTypeNotify").fadeOut("slow");
                    }, 3000);
                } else {
                    $("#failedAddTransTypeNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#failedAddTransTypeNotify").fadeOut("slow");
                    }, 3000);
                }

            }
        });
    }
    function validateUpdateServiceProviderInfo() {
        $("#addServiceProviderForm").validate({
            rules: {
                SrvProvName: {
                    required: true,
                    maxlength: 255
                },
                SrvProvTel: {
                    required: true,
                    number: true,
                    maxlength: 11
                },
                SrvProvAddress: {
                    required: true,
                    maxlength: 255
                },
                SrvProvDesc: {
                    required: true,
                    maxlength: 1000
                }
            },
            messages: {
                SrvProvName: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 255 ký tự."
                },
                SrvProvTel: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 11 ký số.",
                    number: "Phải là ký số.",
                },
                SrvProvAddress: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 255 ký tự."
                },
                SrvProvDesc: {
                    maxlength: "Tối đa 1000 ký tự."
                }
            },
            submitHandler: function () {
                addNewServiceProvider();
            }
        });
        //        $.validator.methods.number = function (value, element) {
        //            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        //        }
        $("#addTransactionCatForm").validate({
            rules: {
                ServiceProviderCatName: {
                    required: true,
                    maxlength: 255
                }
            },
            messages: {
                ServiceProviderCatName: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 255 ký tự."
                }
            },
            submitHandler: function () {
                addServiceProviderCat();
            }
        });
    }
    function closePopupAndShowOther() {
        $("#addServiceProviderModal").modal("hide");
        setTimeout(function() {
            $("#addTransactionCatModal").modal("show");
        }, 1000);
    }

</script>