@using Microsoft.AspNet.Identity
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar left hidden-xs">
    <div data-scrollable="" tabindex="0" style="overflow: hidden; outline: none;">
        <div class="sidebar-block">
            <div class="profile">
                <img src="~/images/people/110/guy-5.jpg" alt="people" class="img-circle">
                <h4>H101_AnTT</h4>
            </div>
        </div>
        <div id="menu">
            <ul id="slide-left" class="slide-left-inactive">
                <li class="category">Account</li>
                <li class="">
                    <a href="/Home/ViewProfile"><i class="icon-user-1"></i> Thông tin cá nhân</a>
                </li>
                <li class="">
                    <a href="/Home/ManageMember"><i class="fa fa-group"></i> Thành viên</a>
                </li>
                <li class="">
                    <a href="user-private-messages.html"><i class="icon-comment-fill-1"></i> Tin nhắn</a>
                </li>
                <li class="">
                    <a href="/Home/HelpdeskRequest/Create/@User.Identity.GetUserId()"><i class="fa fa-cogs"></i> Dịch vụ</a>
                </li>
                <li class="">
                    <a href="/Home/ManageReceipt/View/@User.Identity.GetUserId()"><i class="fa fa-file-text-o"></i> Hóa đơn</a>
                </li>
                <li class="">
                    <a href="/Home/ViewAroundProvider"><i class="fa fa-coffee"></i> Dịch vụ xung quanh</a>
                </li>
                <li>
                    <a href="login.html"><i class="icon-unlock-fill"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="ascrail2000" class="nicescroll-rails" style="width: 5px; z-index: 1; cursor: default; position: absolute; top: 0px; left: 245px; height: 638px; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 5px; height: 490px; border: 0px; border-radius: 5px; background-color: rgb(37, 173, 159); background-clip: padding-box;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 5px; z-index: 1; top: 633px; left: 0px; position: absolute; cursor: default; display: none; width: 245px; opacity: 0;"><div style="position: absolute; top: 0px; height: 5px; width: 250px; border: 0px; border-radius: 5px; background-color: rgb(37, 173, 159); background-clip: padding-box;"></div></div>
</div>
<div class="sidebar right">
    <div class="chat-search">
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <ul class="chat-filter nav nav-pills ">
        <li class="active">
            <a href="#" data-target="li">All</a>
        </li>
        <li>
            <a href="#" data-target=".online">Online</a>
        </li>
        <li>
            <a href="#" data-target=".offline">Offline</a>
        </li>
    </ul>
    <ul class="chat-contacts">
        <li class="online" data-user-id="1">
            <a href="#">
                <div class="media">
                    <div class="pull-left">
                        <span class="status"></span>
                        <img src="images/people/110/guy-6.jpg" width="40" class="img-circle">
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Jonathan S.</div>
                        <small>"Free Today"</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="online away" data-user-id="2">
            <a href="#">
                <div class="media">
                    <div class="pull-left">
                        <span class="status"></span>
                        <img src="images/people/110/woman-5.jpg" width="40" class="img-circle">
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Mary A.</div>
                        <small>"Feeling Groovy"</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="online" data-user-id="3">
            <a href="#">
                <div class="media">
                    <div class="pull-left">
                        <span class="status"></span>
                        <img src="images/people/110/guy-3.jpg" width="40" class="img-circle">
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Adrian D.</div>
                        <small>Busy</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="offline" data-user-id="4">
            <a href="#">
                <div class="media">
                    <div class="pull-left">
                        <img src="images/people/110/woman-6.jpg" width="40" class="img-circle">
                    </div>
                    <div class="media-body">
                        <div class="contact-name">Michelle S.</div>
                        <small>Offline</small>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div id="content">

    @*<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
        <div class="container-fluid">*@

            <!-- Brand and toggle get grouped for better mobile display -->
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-ellipsis-h"></span>
                </button>
            </div>*@

            <!-- Collect the nav links, forms, and other content for toggling -->
            @*<div class="collapse navbar-collapse" id="subnav">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="user-private-timeline.html"><i class="fa fa-fw icon-ship-wheel"></i> New feeds</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="login.html"> Logout<i class="fa fa-fw fa-sign-out"></i></a>
                    </li>
                </ul>
            </div>*@

            <!-- /.navbar-collapse -->
    @*</div>
    </nav>*@

   
    @RenderBody()
     <!--Footer-->
    <div class="footer">
        Social Network Template © Copyright Notice
    </div>
    <div id="messageModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="hdSrvMsgModalTitle" class="modal-title">Thông Báo !</h4>
                </div>
                <div class="modal-body">
                    <p id="msgContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@RenderSection("masterjs", required: false)
