@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
}
@{
    List<HelpdeskServiceCategory> hdSrvCats = ViewBag.hdSrvCats;
    int userId = ViewBag.userId;
}
<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="../Create/@userId"><i class="fa fa-fw icon-ship-wheel"></i> Tạo yêu cầu hổ trợ</a>
                </li>
                <li>
                    <a href="../ViewHistory/@userId"><i class="fa fa-fw icon-ship-wheel"></i> Lịch sử</a>
                </li>
                <li>
                    <a href="./AdminView"><i class="fa fa-fw icon-ship-wheel"></i> Trang dành cho quản lý</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="col-md-12">
    <div class="panel panel-default">
        @*        <div class="panel-heading panel-heading-gray">Bảng yêu cầu dịch vụ Hỗ trợ</div>*@
        <div class="panel-body">
            <form class="form-horizontal" id="createHdService" role="form">
                <div class="alert alert-info hide" id="createHdSrvSuccessNoti" @*style="display: none"*@>
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span>Yêu cầu dịch vụ hổ trợ thành công. Anh/Chị xin vui lòng đợi ban quản lý xử lý!</span>
                </div>
                <div class="alert alert-danger hide" id="createHdSrvFailedNoti">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <span>Yêu cầu dịch vụ hổ trợ thất bại! Xin vui lòng thử lại một lần nữa</span>
                </div>
                <div class="form-group">

                    <div class="col-sm-6">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Thông tin dịch vụ hổ trợ</legend>

                            <div class="form-group">
                                <label for="hdSrvCatName" class="col-sm-4 control-label">Nhóm dịch vụ</label>
                                <div class="col-sm-8 full-width-select">
                                    <select id="hdSrvCatName" title="Dịch vụ hổ trợ" name="hdSrvCatName" class="selectpicker">
                                        <option value="" selected="selected">  Hãy chọn nhóm dịch vụ hổ trợ</option>
                                        @foreach (var cat in hdSrvCats)
                                        {
                                            <option value="@cat.Id"> @cat.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hdServiceId" class="col-sm-4 control-label">Loại dịch vụ</label>
                                <div class="col-sm-8 full-width-select">
                                    <select id="hdServiceId" name="HdServiceId" class="selectpicker">
                                        <option value="" selected="selected"> Hãy chọn dịch vụ hổ trợ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hdSrvPrice" class="col-sm-4 control-label">Giá tiền</label>
                                <div class="col-sm-8">
                                    <input disabled id="hdSrvPrice" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hdSrvDesc" class="col-sm-4 control-label">Miêu tả</label>
                                <div class="col-sm-8">
                                    <textarea disabled id="hdSrvDesc" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            @*Test hard code user 3*@
                            <input type="hidden" name="hdReqUserId" value="3"/>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Ghi chú của cư dân</legend>
                            <div class="form-group">
                                <label for="hdReqTitle" class="col-md-4 control-label">Tiêu đề</label>
                                <div class="col-sm-8">
                                    <input id="hdReqTitle" name="hdReqTitle" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hdReqPrior" class="col-md-4 control-label">Độ ưu tiên</label>
                                <div class="col-sm-8 full-width-select">
                                    <select name="hdReqPrior" id="hdReqPrior" class="selectpicker">
                                        <option value="0">Thấp</option>
                                        <option value="1" selected="selected">Trung bình</option>
                                        <option value="2">Cao</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hdReqUserDesc" class="col-md-4 control-label">Yêu cầu khách hàng</label>
                                <div class="col-md-8">
                                    <textarea name="hdReqUserDesc" id="hdReqUserDesc" class="form-control" style="max-width: initial;" rows="3"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 pull-right">
                        <button type="submit"  id="addNewHdRequest" class="btn btn-primary">Gửi yêu cầu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
