@{
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";

    ViewBag.Title = "ManageMember";
}
@{
    List<HelpdeskServiceCategory> hdSrvCats = ViewBag.hdSrvCats;
    User curUser = ViewBag.curUser;
    int userId = curUser.Id;
}
<div class="container">
    <nav class="navbar navbar-subnav navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-ellipsis-h"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="subnav">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Home/HelpdeskRequest/Create"><i class="fa fa-send"></i> Tạo yêu cầu hổ trợ</a>
                    </li>
                    <li>
                        <a href="/Home/HelpdeskRequest/ViewHistory"><i class="fa fa-history"></i> Quản lý yêu cầu</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading panel-heading-gray">
                <i class="fa fa-bookmark"></i> Tạo yêu cầu hổ trợ
            </div>
            @*        <div class="panel-heading panel-heading-gray">Bảng yêu cầu dịch vụ Hổ trợ</div>*@
            <div class="panel-body">
                <form class="form-horizontal" id="createHdService" role="form">
                    <div class="alert alert-info hide" id="createHdSrvSuccessNoti" @*style="display: none"*@>
                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>Yêu cầu dịch vụ hổ trợ thành công. Anh/Chị xin vui lòng đợi ban quản lý xử lý!</span>
                    </div>
                    <div class="alert alert-danger hide" id="createHdSrvFailedNoti">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        <span>Yêu cầu dịch vụ hổ trợ thất bại! Xin vui lòng thử lại một lần nữa</span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <fieldset class="scheduler-border less-padding">
                                <legend class="scheduler-border">Thông tin dịch vụ hổ trợ</legend>
                                <div class="form-group">
                                    <label for="hdSrvCatName" class="col-md-3 control-label">Loại dịch vụ</label>
                                    <div class="col-md-9 full-width-select">
                                        <select id="hdSrvCatName" title="Dịch vụ hổ trợ" name="hdSrvCatName" class="selectpicker">
                                            <option value="" selected="selected"> Hãy chọn loại dịch vụ</option>
                                            @foreach (var cat in hdSrvCats)
                                            {
                                                <option value="@cat.Id"> @cat.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hdServiceId" class="col-md-3 control-label">Tên dịch vụ</label>
                                    <div class="col-md-9 full-width-select">
                                        <select id="hdServiceId" name="HdServiceId" class="selectpicker">
                                            <option value="" selected="selected"> Hãy chọn dịch vụ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hdSrvPrice" class="col-md-3 control-label">Giá tiền</label>
                                    <div class="col-md-9">
                                        <input disabled id="hdSrvPrice" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hdSrvDesc" class="col-md-3 control-label">Miêu tả</label>
                                    <div class="col-md-9">
                                        <textarea disabled id="hdSrvDesc" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                @*Test hard code user 3*@
                                <input type="hidden" name="hdReqUserId" value="@userId" />
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <fieldset class="scheduler-border less-padding">
                                    <legend class="scheduler-border">Ghi chú của cư dân</legend>
                                    <div class="form-group">
                                        <label for="hdReqTitle" class="col-md-3 control-label">Tiêu đề</label>
                                        <div class="col-sm-9">
                                            <input id="hdReqTitle" name="hdReqTitle" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hdReqUserDesc" class="col-md-3 control-label">Mô tả</label>
                                        <div class="col-md-9">
                                            <textarea name="hdReqUserDesc" id="hdReqUserDesc" class="form-control" style="max-width: initial;" rows="8"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-9 col-md-2">
                                    <button type="submit" id="addNewHdRequest" class="btn btn-primary">Gửi yêu cầu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");
    });
    </script>
</div>
