@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
}

<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="./Create"><i class="fa fa-fw icon-ship-wheel"></i> Tạo yêu cầu Hỗ trợ</a>
                </li>
                <li>
                    <a href="./ViewHistory"><i class="fa fa-fw icon-ship-wheel"></i> Lịch sử</a>
                </li>
                <li>
                    <a href="./AdminView"><i class="fa fa-fw icon-ship-wheel"></i> Admin Page</a>
                </li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href="#" data-toggle="chat-box">Chat <i class="fa fa-fw fa-comment-o"></i></a>
                    </li>
                </ul>*@
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="col-md-12">
    <div class="panel panel-default">
        @*        <div class="panel-heading panel-heading-gray">Bảng yêu cầu dịch vụ Hỗ trợ</div>*@
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="alert alert-info" id="hdSrvCatSuccessNotify" @*style="display: none"*@>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span>Yêu cầu dịch vụ Hỗ trợ thành công. Anh/Chị xin vui lòng đợi ban quản lý xử lý!</span>
                </div>
                <div class="alert alert-danger" id="hdSrvCatSuccessNotify">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <span>Yêu cầu dịch vụ Hỗ trợ thất bại!</span>
                </div>
                <div class="col-sm-6">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Thông tin dịch vụ Hỗ trợ</legend>

                        <div class="form-group">
                            <label for="inputFirstname" class="col-sm-4 control-label">Nhóm dịch vụ</label>
                            <div class="col-sm-8">
                                <select name="filterMode" class="form-control">
                                    <option value="0" selected="selected">Điện khu vực chung</option>
                                    <option value="1">Nước</option>
                                    <option value="2">Điện căn hộ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstname" class="col-sm-4 control-label">Loại dịch vụ</label>
                            <div class="col-sm-8">
                                <select name="filterMode" class="form-control">
                                    <option value="0" selected="selected">Bóng đèn nhà bếp</option>
                                    <option value="1">Bóng đèn bể ống nước</option>
                                    <option value="2">Thông cống</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstname" class="col-sm-4 control-label">Giá tiền</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstname" class="col-sm-4 control-label">Miêu tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Ghi chú của cư dân</legend>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="inputFirstname" class="col-md-4 control-label">Tiêu đề</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstname" class="col-md-4 control-label">Mức độ khẩn cấp</label>
                                <div class="col-sm-8">
                                    <select name="filterMode" class="form-control">
                                        <option value="0" selected="selected">Thấp</option>
                                        <option value="1">Trung bình</option>
                                        <option value="2">Cao</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstname" class="col-md-4 control-label">Yêu cầu khách hàng</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" style="max-width: initial;" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <div class="col-md-2 pull-right">
                        <span type="submit" class="btn btn-primary" onclick="sentHepdeskRequest()">Gửi yêu cầu</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
