@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    User curUser = ViewBag.curUser;
}
<div class="container-fluid">
        <div class="cover overlay">
            <img src="images/profile-cover.jpg" alt="cover">
            <a href="#" class="btn btn-cover"><i class="fa fa-pencil fa-fw"></i></a>
        </div>
        <div class="row">
            <div class="col-md-9">
                <ul class="timeline-list">
                    <li class="media">
                        <div class="pull-left">
                            

                            <img src="@(curUser.ProfileImage==null?"/Content/images/defaultProfile.png":curUser.ProfileImage)" alt="people" class="img-circle" width="80">
                            <div class="date">@curUser.Username</div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="panel panel-default share">
                                        <div class="panel-heading panel-heading-gray title">
                                            What´s new
                                        </div>
                                        <div class="panel-body">
                                            <textarea id="postContent" name="status" class="form-control share-text" rows="8" placeholder="Share your status..."></textarea>
                                            <div class="row" style="height:auto;" id="previewList">
                                                <div style="height:100px;width:100px;float:left;position:relative">
                                                    <img src="~/Content/images/addimage.png" style="max-width:100%;max-height:100%" onclick="addImage()" />
                                                </div>
                                                <input type="file" id="uploadEditorImage" style="display:none" />
                                                <div id="progressBar" class="progress" style="width:200px" hidden="hidden">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:200px">
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="previewEmbed" class="row" style="height:auto; ">
                                                <div id="previewContent">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer share-buttons">
                                            <a href="#">
                                                <i class="fa fa-map-marker"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#addEmbedModal">
                                                <i class="fa fa-fw fa-code"></i>
                                            </a>
                                            <button type="submit" class="btn btn-primary btn-xs pull-right display-none" style="margin-top:-12px" href="#" onclick="createNewPost()">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
                <ul class="timeline-list" id="timeline">
                   
                </ul>
            </div>
            <div class="col-md-3">
                <div data-spy="affix" data-offset-top="318" data-offset-bottom="100" class="affix-top">
                    <div id="scroll-spy">
                        <ul class="nav timeline-months">
                            <li class="active">
                                <a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a>
                            </li>
                            <li>
                                <a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a>
                            </li>
                            <li>
                                <a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a>
                            </li>
                            <li>
                                <a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a>
                            </li>
                            <li>
                                <a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a>
                            </li>
                            <li>
                                <a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addEmbedModal" role="dialog" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm mã nhúng</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="embedCode" placeholder="Copy và paste đoạn mã nhúng của bạn vào đây"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveEmbedCode()">Lưu lại</button>
                </div>
            </div>

        </div>
    </div>



<script>
    var listUploadImage = [];
    function addImage() {
        $("#uploadEditorImage").click();

    }
    function saveEmbedCode() {
        alert("saveEmbedCode");
        var embedContent = $("#embedCode").val();
        $("#previewContent").html(embedContent);
    }
    function createNewPost() {
        alert('createNewPost');
        $.ajax({
            url: "/Post/Create",
            type: "POST",
            datatype: 'json',
            data: {
                images: listUploadImage,
                content: $("#postContent").val(),
                embeded: $("#embedCode").val(),

            },
             
            success: function (successData) {
                if (successData == 'success') {
                    clearCreatePostForm();
                    reloadFeed();
                }
            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });
       
    }

    $("#uploadEditorImage").change(function () {
        var data = new FormData();
        data.append("dir","@SLIM_CONFIG.dirPostImage");
        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

       // progessBar(true);
        $.ajax({
            url: "/Image/Upload/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            
            success: function (successData) {
                addImageToPreviewList(successData,listUploadImage.length);
                listUploadImage[listUploadImage.length] = successData;
               // progessBar(false);

            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });
    });
    $(document).ready(function () {
        loadAllPost();

    });

    function loadAllPost() {
        $.ajax({
            url: "/Post/getPost",
            type: "GET",
            datatype: 'json',
            data: {
                idToken: -1,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, jsonObject) {
                    addPostToTimeline(index, jsonObject);
                    getImagesForPost(index, jsonObject["Id"]);
                    getUserProfileForPost(index, jsonObject["Id"]);
                });
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function getUserProfileForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getUserForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
               // alert(successData)
                var obj = JSON.parse(successData);
                if (obj['ProfileImage'] === null) {
                    $('#userImagePost' + id).attr("src", "/Content/images/defaultProfile.png");
                } else {
                    $('#userImagePost' + id).attr("src", obj["ProfileImage"]);

                }
                $('#userNamePost' + id).html(obj["Username"])
            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addPostToTimeline(index, postObject) {
        $("#timeline").append('<li class="media">'
                       +'<div class="pull-left">'
                            + '<img id="userImagePost' + postObject['Id'] + '" src="images/people/110/woman-5.jpg" alt="people" class="img-circle" width="80">'
                            +'<div id="userNamePost'+postObject['Id']+'" class="date">3 MAY</div>'
                        +'</div>'
                        +'<div class="media-body">'
                            +'<div class="panel panel-default">'
                                +'<div class="panel-body" >'
                                    +'<p>'+postObject['Body']+'</p>'
                                    +'<div class="row" id="imagesPost'+postObject['Id'] +'" style="height:auto">'
                                    +'</div>'
                                    + '<div class="row" style="height:auto;">'
                                    + postObject['EmbedCode']
                                    +'</div>'
                                +'</div>'
                                +'<div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>'
                                +'<ul class="comments">'
                                    +'<li>'
                                        +'<div class="media">'
                                            +'<a href="" class="pull-left">'
                                                +'<img  src="images/people/50/woman-5.jpg" class="media-object">'
                                            +'</a>'
                                            +'<div class="media-body">'
                                                +'<a href="" class="comment-author">Mary</a>'
                                                +'<span>Thanks Bill</span>'
                                                +'<div class="comment-date">2 days</div>'
                                            +'</div>'
                                        +'</div>'
                                    +'</li>'
                                    +'<li>'
                                        +'<div class="media">'
                                            +'<a href="" class="pull-left">'
                                                +'<img src="images/people/50/guy-5.jpg" class="media-object">'
                                            +'</a>'
                                            +'<div class="media-body">'
                                                +'<a href="" class="comment-author">Bill D.</a>'
                                                +'<span>What time did it finish?</span>'
                                                +'<div class="comment-date">14 min</div>'
                                            +'</div>'
                                        +'</div>'
                                    +'</li>'
                                    +'<li class="comment-form">'
                                        +'<div class="input-group">'
                                            + '<input type="text" class="form-control">'
                                            +'<span class="input-group-addon">'
                                                +'<a href=""><i class="fa fa-photo"></i></a>'
                                            +'</span>'
                                        +'</div>'
                                    +'</li>'
                                +'</ul>'
                            +'</div>'
                        +'</div>'
                    +'</li>')
    }


    function getImagesForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getImagesForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, image) {
                    addImageToPost(image['url'],id)
                });
            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addImageToPost(imageUrl, postId) {
        $("#imagesPost" + postId).append('<img src="'+imageUrl+'" style="width:30%;height:auto;margin-right:5px">')
    }

    function addImageToPreviewList(dir,position) {
        $("#previewList").prepend('<div id="previewImage'+position+'" style="height:100px;width:100px;float:left;position:relative"><img onclick="removePreview('+position+')" src="/Content/images/delete.png" style="position:absolute;top:0px;right:0px;width:20px;height:20px"/><img src="'+dir+'" style="max-width:100%;max-height:100%"/></div>')
    }
    function removePreview(position) {
        $('#previewImage' + position + '').hide();
        listUploadImage[position] = "";
       
    }
    function reloadFeed() {
        //clear all feed
        $("#timeline").html("");
        loadAllPost();
    }
    function clearCreatePostForm() {
        var embedContent = "";
        $("#previewContent").html(embedContent);
        listUploadImage = [];
        $("#previewList").html('');
        $("#postContent").val('');
    }
</script>