@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
}

<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="./Create"><i class="fa fa-fw icon-ship-wheel"></i> Tạo yêu cầu hổ trợ</a>
                </li>
                <li>
                    <a href="./ViewHistory"><i class="fa fa-fw icon-ship-wheel"></i> Lịch sử</a>
                </li>
                <li class="active">
                    <a href="./AdminView"><i class="fa fa-fw icon-ship-wheel"></i> Admin Page</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>



<div class="col-md-12">
    <div class="panel panel-default">
        @*        <div class="panel-heading panel-heading-gray">Bảng yêu cầu dịch vụ hổ trợ</div>*@
        <div class="panel-body">
            <form class="form-horizontal" id="searchHdSrv" role="form" onkeypress="return event.keyCode !== 13;">
            <div class="form-group">
                <label class="col-sm-1 control-label">Loại DV H.Trợ</label>
                <div class="col-md-3 full-width-select">
                    <select multiple data-style="btn-white" class="selectpicker" title="Nhóm dịch vụ hổ trợ">
                        <option value="0">Tất cả</option>
                        <option value="0">Điện</option>
                        <option value="1">Nước</option>
                        <option value="2">Nước công cộng</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">DV H.Trợ</label>
                <div class="col-md-3 full-width-select">
                    <select multiple data-style="btn-white" class="selectpicker" title="Dịch vụ hổ trợ">
                        <option value="0">Tất cả</option>
                        <option value="0">Điện cầu thang</option>
                        <option value="1">Bóng đèn phòng ngủ</option>
                        <option value="2">Nghẹt cống</option>
                        <option value="3">Quạt trần</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8">
                        <input type="email" class="form-control" style="max-width: none" placeholder="Request title" id="searchStr" name="searchStr">
                    </div>
                    <div class="col-md-4">
                        <span onclick="searchHdSrv()" class="btn btn-primary" style="margin-left: 5px">Search</span>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Trạng thái</label>
                    <div class="col-md-3 full-width-select">
                        <select multiple data-style="btn-white" class="selectpicker" title="Trạng thái">
                            <option value="0">Mở</option>
                            <option value="1">Đã giao việc</option>
                            <option value="2">Đang xử lý</option>
                            <option value="3">Chờ Approve</option>
                            <option value="3">Đóng</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label">Người H.Trợ</label>
                    <div class="col-md-3 full-width-select">
                        <select class="selectpicker" multiple data-style="btn-white" title="Người được giao">
                            <option>Nguyễn Văn A</option>
                            <option>Trần Văn A</option>
                            <option>Lại Thị C</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Tạo mới</legend>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" checked="checked" value="1" /><strong>Tất cả</strong>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="1" /><strong>Hôm nay</strong>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="0" /><strong> Từ</strong>
                                </div>
                                <div class="form-group" style="margin-left: 4px">
                                    <strong> Đến</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <input type="text" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Hoàn thành</legend>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" checked="checked" value="1" /><strong>Tất cả</strong>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="1" /><strong>Hôm nay</strong>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="0" /><strong> Từ</strong>
                                </div>
                                <div class="form-group" style="margin-left: 4px">
                                    <strong> Đến</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <input type="text" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Trễ hẹn</legend>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" checked="checked" value="1" /><strong>Tất cả</strong>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="1" /><strong>Hôm nay</strong>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="0" /><strong> Từ</strong>
                                </div>
                                <div class="form-group" style="margin-left: 4px">
                                    <strong> Đến</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <input type="text" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Tiêu đề</th>
                                <th>Dịch vụ</th>
                                <th>NV được giao</th>
                                <th>Trạng thái</th>
                                <th>Ngày tạo</th>
                                <th>Ngày cập nhật</th>
                                <th>Ngày hoàn thành</th>
                                <th class="text-right">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="hdSrvTblBody">
                            <tr>
                                <td>1</td>
                                <td>
                                    Sữa ống nước nhà vệ sinh
                                </td>
                                <td>
                                    Sữa ống nước
                                </td>
                                <td>
                                    Osama Binladen
                                </td>
                                <td>
                                    <span class="label label-info">Đang xử lý</span>
                                </td>
                                <td>
                                    <span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span>
                                </td>
                                <td>
                                    <span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span>
                                </td>
                                <td>
                                    <span class="label label-warning">08:08</span> <span class="label label-gray">05/03/2013</span>
                                </td>
                                <td class="text-right">
                                    <span class="btn btn-default btn-xs">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group" id="delBtnGroup" style="display: none">
                    <span class="btn btn-primary col-sm-1 pull-right" style="margin-left: 5px" onclick="commitDeleteHelpdeskService()">
                        <i class="fa fa-plus"></i> Delete
                    </span>
                    <span class="btn btn-inverse col-sm-1 pull-right" onclick="cancelDeleteHelpdeskService()"
                          style="background-color: transparent; color: #ab7a4b; border-color: transparent;">
                        <i class="fa fa-plus"></i> Cancel
                    </span>
                </div>
                @**@
                @*        <!-- // Progress table -->*@
                @*        <div class="panel-footer padding-none text-center">*@
                @*            <ul class="pagination">*@
                @*                <li>*@
                @*                    <a href="#">&laquo;</a>*@
                @*                </li>*@
                @*                <li class="active">*@
                @*                    <a href="#">1</a>*@
                @*                </li>*@
                @*                <li>*@
                @*                    <a href="#">2</a>*@
                @*                </li>*@
                @*                <li>*@
                @*                    <a href="#">3</a>*@
                @*                </li>*@
                @*                <li>*@
                @*                    <a href="#">4</a>*@
                @*                </li>*@
                @*                <li>*@
                @*                    <a href="#">5</a>*@
                @*                </li>*@
                @*                <li>*@
                @*                    <a href="#">&raquo;</a>*@
                @*                </li>*@
                @*            </ul>*@
                @*        </div>*@

            </form>
        </div>
    </div>
</div>
