@using AMS.Enum
@{
    int userId = ViewBag.userId;
    int roleId = ViewBag.userRole;
}
@{
    ViewBag.Title = "ManageMember";
    if (roleId == SLIM_CONFIG.USER_ROLE_HOUSEHOLDER || roleId == SLIM_CONFIG.USER_ROLE_RESIDENT)
    {
        Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Management/__ManagementLayout.cshtml";
    }
}

<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                @{
                    if (roleId == SLIM_CONFIG.USER_ROLE_HOUSEHOLDER || roleId == SLIM_CONFIG.USER_ROLE_RESIDENT)
                    {
                        <li>
                            <a href="/Home/HelpdeskRequest/Create/@userId"><i class="fa fa-send"></i> Tạo yêu cầu hổ trợ</a>
                        </li>
                    }
                }
                <li class="active">
                    <a href="/Home/HelpdeskRequest/ViewHistory/@userId"><i class="fa fa-history"></i> Quản lý yêu cầu</a>
                </li>
                @{
                    if (roleId == SLIM_CONFIG.USER_ROLE_MANAGER)
                    {
                        <li>
                            <a href="/Management/ResidentApprovement/@userId"><i class="fa fa-group"></i> Quản lý xác nhận dân cư</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>



<div class="col-md-12">
    <div class="panel panel-default">

        <div class="panel-heading panel-heading-gray">
            <i class="fa fa-bookmark"></i> Danh sách yêu cầu hổ trợ
        </div>

        <div class="panel-body">
            <div class="form-horizontal" id="searchHdSrv" role="form">
                <!-- Data table -->
                <table id="hdRequestTbl" data-userid="@userId" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tiêu đề</th>
                            <th>Căn hộ</th>
                            <th>DV hổ trợ</th>
                            <th>Trạng thái</th>
                            <th>NV hổ trợ</th>
                            <th>Ngày tạo</th>
                            <th>Ngày H.Thành</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Tiêu đề</th>
                            <th>Căn hộ</th>
                            <th>DV hổ trợ</th>
                            <th>Trạng thái</th>
                            <th>NV hổ trợ</th>
                            <th>Ngày tạo</th>
                            <th>Ngày H.Thành</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
                <!-- // Data table -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");
    });
</script>