@{
    ViewBag.Title = "Dịch vụ xung quanh";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    List<AroundProvider> allProviders = ViewBag.AllProviders;
}

<link href="~/Content/aroundProvider/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/aroundProvider/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/aroundProvider/animate.min.css" rel="stylesheet" />
<link href="~/Content/aroundProvider/main.css" rel="stylesheet" />
<link href="~/Content/aroundProvider/responsive.css" rel="stylesheet" />
<link href="~/Content/rating.css" rel="stylesheet" />

<script src="~/Scripts/aroundProvider/jquery.nav.js"></script>
<script src="~/Scripts/aroundProvider/jquery.sticky.js"></script>
<script src="~/Scripts/aroundProvider/main.js"></script>
<script src="~/Scripts/aroundProvider/main.min.js"></script>
<script src="~/Scripts/aroundProvider/plugins.js"></script>
<script src="~/Scripts/aroundProvider/wow.min.js"></script>
<script src="~/Scripts/rating.js"></script>

<div class="col-md-12">
    <div class="panel panel-default">
        @*<div class="panel-heading panel-heading-gray">Dịch vụ xung quanh</div>*@
        @*<div class="panel-body">

        </div>*@
        <section id="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading">
                            <span>Dịch vụ</span> xung quanh
                        </h1>
                        <ul>
                            @{
                                for (int i = 0; i < 6; i++)
                                {
                                    <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                        <div class="blog-img">
                                            <img src="~/images/aroundProvider/blog-img-1.jpg" />
                                        </div>
                                        <div class="content-right">
                                            <h3>@allProviders[i].Name</h3>
                                            <p>@allProviders[i].Description</p>
                                        </div>
                                    </li>
                                }
                            }

                            @*<li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="blog-img">
                                    <img src="~/images/aroundProvider/blog-img-2.jpg" />
                                </div>
                                <div class="content-right">
                                    <h3>Homestyle Chicken Pot Pie</h3>
                                    <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                                </div>
                            </li>*@

                        </ul>
                        <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">Xem toàn bộ</a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
    $(function () {
        $('.rating').rating();
    });

    //$(function () {
    //    $('.rating').rating();

    //    $('.ratingEvent').rating({ rateEnd: function (v) { $('#result').text(v); } });
    //});

    //$(window).scroll(function () {
    //    $('.si').each(function () {
    //        var imagePos = $(this).offset().top;

    //        var topOfWindow = $(window).scrollTop();
    //        if (imagePos < topOfWindow + 400) {
    //            $(this).addClass("slideUp");
    //        }
    //    });
    //});
</script>

