@using AMS.Enum
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
}
@{
    int userId = ViewBag.userId;
}
<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="./Create"><i class="fa fa-fw icon-ship-wheel"></i> Tạo yêu cầu hổ trợ</a>
                </li>
                <li class="active">
                    <a href="./ViewHistory?userId=1"><i class="fa fa-fw icon-ship-wheel"></i> Lịch sử</a>
                </li>
                <li>
                    <a href="./AdminView"><i class="fa fa-fw icon-ship-wheel"></i> Admin Page</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>



<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal" id="searchHdSrv" role="form" onkeypress="return event.keyCode !== 13;">
                <!-- Data table -->
                <table id="hdRequestTbl" data-userid ="@userId" class="table">
                    <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Căn hộ</th>
                        <th>DV hổ trợ</th>
                        <th>Ưu tiên</th>
                        <th>Trạng thái</th>
                        <th>NV hổ trợ</th>
                        <th>Ngày tạo</th>
                        <th>Giao cho</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Căn hộ</th>
                        <th>DV hổ trợ</th>
                        <th>Ưu tiên</th>
                        <th>Trạng thái</th>
                        <th>NV hổ trợ</th>
                        <th>Ngày tạo</th>
                        <th>Giao cho</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
                <!-- // Data table -->
            </div>
        </div>
    </div>
</div>

