@using Microsoft.AspNet.Identity
@using AMS.Enum
@{
    int roleId = ViewBag.roleId;
}
@{
    ViewBag.Title = "ManageMember";
    if (roleId == SLIM_CONFIG.USER_ROLE_HOUSEHOLDER || roleId == SLIM_CONFIG.USER_ROLE_RESIDENT)
    {
        Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Management/__ManagementLayout.cshtml";
    }
}


<div class="col-md-12">
    <div class="panel panel-default">
        
        <div class="heading-tab">
            <i class="fa fa-list"> Danh sách yêu cầu</i>
            <ul class="nav nav-tabs pull-right" role="tablist">
                @{
                    if (roleId == SLIM_CONFIG.USER_ROLE_HOUSEHOLDER || roleId == SLIM_CONFIG.USER_ROLE_RESIDENT)
                    {
                        <li>
                            <a href="/Home/HelpdeskRequest/Create"><i class="fa fa-send"></i> Tạo yêu cầu sửa chữa</a>
                        </li>
                    }
                }
                <li class="active">
                    <a href="/Home/HelpdeskRequest/ViewHistory"><i class="fa fa-life-ring"></i> Yêu cầu sửa chữa</a>
                </li>
                @{
                    if (roleId == SLIM_CONFIG.USER_ROLE_MANAGER)
                    {
                        <li>
                            <a href="/Management/ResidentApprovement/@User.Identity.GetUserId()"><i class="fa fa-group"></i> Xác nhận dân cư</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <!-- Data table -->
                        <table id="hdRequestTbl" data-userid="@User.Identity.GetUserId()" class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Tiêu đề</th>
                                <th>Căn hộ</th>
                                <th>DV hổ trợ</th>
                                <th>Trạng thái</th>
                                <th>NV hổ trợ</th>
                                <th>Ngày tạo</th>
                                <th>Ngày H.Thành</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Tiêu đề</th>
                                <th>Căn hộ</th>
                                <th>DV hổ trợ</th>
                                <th>Trạng thái</th>
                                <th>NV hổ trợ</th>
                                <th>Ngày tạo</th>
                                <th>Ngày H.Thành</th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                        <!-- // Data table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");
    });
</script>