@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";

    ViewBag.Title = "ManageMember";
}
@{
    List<HelpdeskServiceCategory> hdSrvCats = ViewBag.hdSrvCats;
}
<div class="col-md-12">
    <div class="panel panel-default">

        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Gửi yêu cầu sửa chữa</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/Home/HelpdeskRequest/Create"><i class="fa fa-send"></i> Gửi yêu cầu sửa chữa</a>
                </li>
                <li>
                    <a href="/Home/HelpdeskRequest/ViewHistory" style="color:#25ad9f"><i class="fa fa-life-ring" style="color:#25ad9f"></i> Quản lý yêu cầu</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">

            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <form class="form-horizontal" id="createHdService" role="form">
                        <div class="alert alert-info hide" id="createHdSrvSuccessNoti" @*style="display: none"*@>
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Yêu cầu dịch vụ hỗ trợ thành công. Anh/Chị vui lòng đợi ban quản lý xử lý!</span>
                        </div>
                        <div class="alert alert-danger hide" id="createHdSrvFailedNoti">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <span>Yêu cầu dịch vụ hỗ trợ thất bại! Xin vui lòng thử lại!</span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <fieldset class="scheduler-border less-padding">
                                    <legend class="scheduler-border bold-black">Thông tin dịch vụ hỗ trợ</legend>
                                    <div class="form-group">
                                        <label for="hdReqTitle" class="col-md-3 control-label">Tiêu đề</label>
                                        <div class="col-md-9">
                                            <input id="hdReqTitle" name="hdReqTitle" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hdSrvCatName" class="col-md-3 control-label">Loại dịch vụ</label>
                                        <div class="col-md-9 full-width-select">
                                            <select id="hdSrvCatName" title="Dịch vụ hỗ trợ" name="hdSrvCatName" class="selectpicker">
                                                <option value="" selected="selected"> Hãy chọn loại dịch vụ</option>
                                                @foreach (var cat in hdSrvCats)
                                                {
                                                    <option value="@cat.Id"> @cat.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hdServiceId" class="col-md-3 control-label">Tên dịch vụ</label>
                                        <div class="col-md-9 full-width-select">
                                            <select id="hdServiceId" name="HdServiceId" class="selectpicker">
                                                <option value="" selected="selected"> Hãy chọn dịch vụ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hdReqUserDesc" class="col-md-3 control-label">Mô tả</label>
                                        <div class="col-md-9">
                                            <textarea name="hdReqUserDesc" id="hdReqUserDesc" class="form-control" style="max-width: initial;" rows="5"></textarea>
                                        </div>
                                    </div>
                                    @*Test hard code user 3*@
                                    <input type="hidden" name="hdReqUserId" value="@User.Identity.GetUserId()" />
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" id="addNewHdRequest" class="btn btn-primary"><i class="fa fa-send"></i> Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");
    });
</script>
