@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";

    ViewBag.Title = "ManageMember";
}
@{
    List<HelpdeskServiceCategory> hdSrvCats = ViewBag.hdSrvCats;
}
<div class="col-md-12">
    <div class="panel panel-default">

        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Gửi yêu cầu sửa chữa</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/Home/HelpdeskRequest/Create"><i class="fa fa-send"></i> Gửi yêu cầu</a>
                </li>
                <li>
                    <a href="/Home/HelpdeskRequest/ViewHistory" style="color:#25ad9f"><i class="fa fa-life-ring" style="color:#25ad9f"></i> Lịch sử</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">

            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <form class="form-horizontal" id="createHdService" role="form">
                        <div class="alert alert-info hide" id="createHdSrvSuccessNoti" @*style="display: none"*@>
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Yêu cầu dịch vụ hỗ trợ thành công. Anh/Chị vui lòng đợi ban quản lý xử lý!</span>
                        </div>
                        <div class="alert alert-danger hide" id="createHdSrvFailedNoti">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <span>Yêu cầu dịch vụ hỗ trợ thất bại! Xin vui lòng thử lại!</span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <fieldset class="scheduler-border less-padding">
                                    <legend class="scheduler-border bold-black">Thông tin dịch vụ hỗ trợ</legend>
                                    <div class="form-group">
                                        <label for="hdReqTitle" class="col-md-3 control-label">Tiêu đề</label>
                                        <div class="col-md-9">
                                            <input id="hdReqTitle" name="hdReqTitle" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hdSrvCatName" class="col-md-3 control-label">Loại dịch vụ</label>
                                        <div class="col-md-9 full-width-select">
                                            <select id="hdSrvCatName" title="Dịch vụ hỗ trợ" name="HdServiceCatId" class="form-control">
                                                <option value="" selected="selected"> Hãy chọn loại dịch vụ</option>
                                                @foreach (var cat in hdSrvCats)
                                                {
                                                    <option value="@cat.Id"> @cat.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hdReqUserDesc" class="col-md-3 control-label">Mô tả</label>
                                        <div class="col-md-9">
                                            <textarea name="hdReqUserDesc" id="hdReqUserDesc" class="form-control" style="max-width: initial;" rows="5"></textarea>
                                        </div>
                                    </div>
                                    @*Test hard code user 3*@
                                    <input type="hidden" name="hdReqUserId" value="@User.Identity.GetUserId()" />
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" id="addNewHdRequest" class="btn btn-primary"><i class="fa fa-send"></i> Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");

        $("#addHdSrvCat").on("click", function () {
            console.log($("#hdSrvCategoryForm").serialize());
            $("#hdSrvCategoryForm").valid();
        });
        validateInfomation();
    });

    function addNewHdRequest() {
        var action = "AddHdRequest";
        $.ajax({
            url: "/Home/HelpdeskRequest/" + action,
            type: "POST",
            data: $("#createHdService").serialize(),
            success: function (data) {
                console.log(data);
                if (data.StatusCode === 0) {
                    document.getElementById("createHdService").reset();
                    $("#createHdSrvSuccessNoti").removeClass("hide");
                    $("#createHdSrvSuccessNoti").addClass("show");
                    setTimeout(function () {
                        $("#createHdSrvSuccessNoti").removeClass("show");
                        $("#createHdSrvSuccessNoti").addClass("hide");
                    }, 3000);
                } else if (data.StatusCode === -1) {
                    $("#createHdSrvFailedNoti").removeClass("hide");
                    setTimeout(function () {
                        $("#createHdSrvFailedNoti").removeClass("show");
                        $("#createHdSrvFailedNoti").addClass("hide");
                    },3000);
                }
            },
            error: function () {

            }
        });
    }

    function validateInfomation() {
        $("#createHdService").validate({
            ignore: [],
            rules: {
                hdSrvCatName: {
                    required: true
                }, hdReqTitle: {
                    required: true,
                    maxlength: 255
                }, hdReqUserDesc: {
                    maxlength: 1000
                }
            },
            messages: {
                hdSrvCatName: {
                    required: "Vui lòng chọn nhóm dịch vụ hỗ trợ."
                }, hdReqTitle: {
                    required: "Vui lòng nhập vắn tắt mô tả yêu cầu.",
                    maxlength: "Tiêu đề không dài quá 255 ký tự."
                }, hdReqUserDesc: {
                    maxlength: "Mô tả không dài quá 1000 ký tự."
                }
            },
            success: function (label, element) {
                label.parent().removeClass("error");
                label.remove();
            },
            errorPlacement: function (error, element) {
                if (element.attr("name") === "hdServiceId") {
                    error.insertAfter($("#hdServiceId").next());
                } else if (element.attr("name") === "hdSrvCatName") {
                    error.insertAfter($("#hdSrvCatName").next());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function () {
                addNewHdRequest();
            }
        });
    }
</script>
