@using Microsoft.AspNet.Identity
@using AMS.Enum
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}


<div class="col-md-12">
    <div class="panel panel-default">

        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Danh sách yêu cầu</span>
            <ul class="nav nav-tabs pull-right" role="tablist">

                <li class="active">
                    <a href="/Management/HelpdeskRequest/ManageHdRequest"><i class="fa fa-life-ring"></i> Yêu cầu sửa chữa</a>
                </li>

                <li>
                    <a href="/Management/ResidentApprovement/@User.Identity.GetUserId()"><i class="fa fa-group"></i> Xác nhận cư dân</a>
                </li>

            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <div class="table-responsive col-md-12">
                            <!-- Data table -->
                            <table id="hdRequestTbl" data-userid="@User.Identity.GetUserId()" class="table v-middle  table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tiêu đề</th>
                                        <th>Căn hộ</th>
                                        @*                                <th>DV hỗ trợ</th>*@
                                        <th>Trạng thái</th>
                                        <th>Nhân viên hỗ trợ</th>
                                        <th>Ngày tạo</th>
                                        <th>Ngày hoàn thành</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Tiêu đề</th>
                                        <th>Căn hộ</th>
                                        @*                                <th>DV hỗ trợ</th>*@
                                        <th>Trạng thái</th>
                                        <th>Nhân viên hỗ trợ</th>
                                        <th>Ngày tạo</th>
                                        <th>Ngày hoàn thành</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                            <!-- // Data table -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");

        var userId = document.getElementById("hdRequestTbl");
        if (null !== userId && undefined != userId) {
            userId = userId.dataset.userid;
        }

        var datatable = $("#hdRequestTbl").DataTable({
            "ajax": {
                url: "/Home/HelpdeskRequest/GetListRequest?userId=" + userId,
                dataSrc: ""
            },

            "bLengthChange": false,
            "bInfo": false,

            "columns": [
                { data: "HdReqTitle" },
                { data: "HdReqTitle" },
                { data: "HdReqHouse" },
//                { data: "HdReqSrvName" },
                { data: "HdReqStatus" },
                { data: "HdReqSupporter" },
                { data: "HdReqCreateDate" },
                { data: "HdReqDeadline" },
                { data: "HdReqId" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 1,
                    "width": "25%"
                },
                {
                    "targets": 2,
                    "data": "HdReqHouse",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<span class='label house-color label-warning'>" + data + "</span>";
                        }
                        return data;
                    }
                },
                {
                    "targets": 3,
                    "data": "HdReqStatus",
                    "render": function (data, type, full) {
                        if (type === "display" || type === "filter") {
                            var msg = "";
                            if (data === window.StatusOpen) {
                                msg = "Chưa giải quyết";
                                return "<span class='label label-info'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusProcessing) {
                                msg = "Đang xử lý";
                                return "<span class='label processing'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusDone) {
                                msg = "Hoàn thành";
                                return "<span class='label label-success'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusClose) {
                                msg = "Đóng";
                                return "<span class='label label-danger'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusCancel) {
                                msg = "Hủy";
                                return "<span class='label label-gray'>" +
                                    msg + "</div>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "data": "HdReqSupporter",
                    "render": function (data, type, full) {
                        if (type === "display" || type === "filter") {
                            if (data === null || data === undefined) {
                                return "Đang chờ xử lý";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 5,
                    "data": "HdReqCreateDate",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            //                            var dateTime = data.split(" ");
                            //                            return "<span class='label date-color label-warning'>" + dateTime[0] +
                            //                                "</span>  <span class='label time-color label-gray'>" + dateTime[1] + "</span>";
                            var dateTime = data.split(" ");
                            return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                        }
                        return full.HdReqCreateDateLong;
                    },
                    "width": "15%"
                },
                {
                    "targets": 6,
                    "data": "HdReqDeadline",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data !== null && data !== undefined) {
                                //                                var dateTime = data.split(" ");
                                //                                return "<span class='label date-color label-warning'>" + dateTime[0] +
                                //                                    "</span>  <span class='label time-color label-gray'>" + dateTime[1] + "</span>";
                                var dateTime = data.split(" ");
                                return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                            }
                            return "Đang xác nhận";
                        }
                        return full.HdReqDeadlineLong;
                    },
                    "width": "15%"
                },
                {
                    "targets": 7,
                    "data": "HdReqId",
                    "searchable": false,
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<span class='btn btn-default btn-xs' data-loading-text='Loading...' onclick='getHelpdeskDetail(" + data + ")'> <i class='fa fa-pencil'></i> </span>";
                        }
                        return data;
                    }
                }
            ], "order": [[5, 'desc']]
        });
        generateTableIndex(datatable);

    });
</script>