@using Microsoft.AspNet.Identity
@using AMS.Enum
@{
    int roleId = ViewBag.roleId;
}
@{
    ViewBag.Title = "ManageMember";
    if (roleId == SLIM_CONFIG.USER_ROLE_HOUSEHOLDER || roleId == SLIM_CONFIG.USER_ROLE_RESIDENT)
    {
        Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Management/__ManagementLayout.cshtml";
    }
}



<div class="col-md-12">
    <div class="panel panel-default">

        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Lịch sử yêu cầu sửa chữa</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li>
                    <a href="/Home/HelpdeskRequest/Create" style="color:#25ad9f"><i class="fa fa-send" style="color:#25ad9f"></i> Gửi yêu cầu</a>
                </li>
                <li class="active">
                    <a href="/Home/HelpdeskRequest/ViewHistory"><i class="fa fa fa-life-ring"></i> Lịch sử</a>
                </li>

            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <div class="form-group">
                            <div class="table-responsive">
                                <!-- Data table -->
                                <table id="hdRequestTbl" data-userid="@User.Identity.GetUserId()" class="table v-middle  table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tiêu đề</th>
                                            <th>Dịch vụ hỗ trợ</th>
                                            <th>Trạng thái</th>
@*                                            <th>Nhân viên hỗ trợ</th>*@
                                            <th>Ngày tạo</th>
@*                                            <th>Ngày hoàn thành</th>*@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Tiêu đề</th>
                                            <th>Dịch vụ hỗ trợ</th>
                                            <th>Trạng thái</th>
@*                                            <th>Nhân viên hỗ trợ</th>*@
                                            <th>Ngày tạo</th>
@*                                            <th>Ngày hoàn thành</th>*@
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody></tbody>
                                </table>
                                <!-- // Data table -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");

        var userId = document.getElementById("hdRequestTbl");
        if (null !== userId && undefined != userId) {
            userId = userId.dataset.userid;
        }

        var datatable = $("#hdRequestTbl").DataTable({
            "ajax": {
                url: "/Home/HelpdeskRequest/GetListRequest?userId=" + userId,
                dataSrc: ""
            },

            "bLengthChange": false,
            "bInfo": false,

            "columns": [
                { data: "HdReqTitle" },
                { data: "HdReqTitle" },
//                { data: "HdReqHouse" },
                { data: "HdReqSrvCatName" },
                { data: "HdReqStatus" },
//                { data: "HdReqSupporter" },
                { data: "HdReqCreateDate" },
//                { data: "HdReqDeadline" },
                { data: "HdReqId" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 1,
                    "width": "25%"
                },
                {
                    "targets": 3,
                    "data": "HdReqStatus",
                    "render": function (data, type, full) {
                        if (type === "display" || type === "filter") {
                            var msg = "";
                            if (data === window.StatusOpen) {
                                msg = "Chưa giải quyết";
                                return "<span class='label label-info'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusProcessing) {
                                msg = "Đang xử lý";
                                return "<span class='label processing'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusDone) {
                                msg = "Hoàn thành";
                                return "<span class='label label-success'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusClose) {
                                msg = "Đóng";
                                return "<span class='label label-danger'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusCancel) {
                                msg = "Hủy";
                                return "<span class='label label-gray'>" +
                                    msg + "</div>";
                            }
                        }
                        return data;
                    }
                },
//                {
//                    "targets": 4,
//                    "data": "HdReqSupporter",
//                    "render": function (data, type, full) {
//                        if (type === "display" || type === "filter") {
//                            if (data === null || data === undefined) {
//                                return "Đang chờ xử lý";
//                            }
//                        }
//                        return data;
//                    }
//                },
                {
                    "targets": 4,
                    "data": "HdReqCreateDate",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var dateTime = data.split(" ");
                            return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                        }
                        return full.HdReqCreateDateLong;
                    },
                    "width": "15%"
                },
//                {
//                    "targets": 5,
//                    "data": "HdReqDeadline",
//                    "render": function (data, type, full, meta) {
//                        if (type === "display" || type === "filter") {
//                            if (data !== null && data !== undefined) {
//                                var dateTime = data.split(" ");
//                                return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
//                            }
//                            return "Đang chờ xác nhận";
//                        }
//                        return data;
//                    },
//                    "width": "15%"
//                },
                {
                    "targets": 5,
                    "data": "HdReqId",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<div style='text-align:right'><span class='btn btn-default btn-xs' onclick='getHelpdeskDetail(" + data + ")'> <i class='fa fa-pencil'></i> </span></div>";
                        }
                        return data;
                    }
                }
            ], "order": [[4, 'desc']]
        });
        generateTableIndex(datatable);

    });
</script>