@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
}

<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="./Create"><i class="fa fa-fw icon-ship-wheel"></i> Tạo yêu cầu hổ trợ</a>
                </li>
                <li>
                    <a href="./ViewHistory"><i class="fa fa-fw icon-ship-wheel"></i> Lịch sử</a>
                </li>
                <li class="active">
                    <a href="./AdminView"><i class="fa fa-fw icon-ship-wheel"></i> Admin Page</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>



<div class="col-md-12">
    <div class="panel panel-default">
        @*        <div class="panel-heading panel-heading-gray">Bảng yêu cầu dịch vụ hổ trợ</div>*@
        <div class="panel-body">
            <form class="form-horizontal" id="searchHdSrv" role="form" onkeypress="return event.keyCode !== 13;">
            <div class="form-group">
                <label class="col-sm-1 control-label">Loại DV H.Trợ</label>
                <div class="col-md-3 full-width-select">
                    <select multiple data-style="btn-white" class="selectpicker" title="Nhóm dịch vụ hổ trợ">
                        <option value="0">Tất cả</option>
                        <option value="0">Điện</option>
                        <option value="1">Nước</option>
                        <option value="2">Nước công cộng</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">DV H.Trợ</label>
                <div class="col-md-3 full-width-select">
                    <select multiple data-style="btn-white" class="selectpicker" title="Dịch vụ hổ trợ">
                        <option value="0">Tất cả</option>
                        <option value="0">Điện cầu thang</option>
                        <option value="1">Bóng đèn phòng ngủ</option>
                        <option value="2">Nghẹt cống</option>
                        <option value="3">Quạt trần</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8">
                        <input type="email" class="form-control" style="max-width: none" placeholder="Request title" id="searchStr" name="searchStr">
                    </div>
                    <div class="col-md-4">
                        <span onclick="searchHdSrv()" class="btn btn-primary" style="margin-left: 5px">Search</span>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Trạng thái</label>
                    <div class="col-md-3 full-width-select">
                        <select multiple data-style="btn-white" class="selectpicker" title="Trạng thái">
                            <option value="0">Mở</option>
                            <option value="1">Đã giao việc</option>
                            <option value="2">Đang xử lý</option>
                            <option value="3">Chờ Approve</option>
                            <option value="3">Đóng</option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label">Người H.Trợ</label>
                    <div class="col-md-3 full-width-select">
                        <select class="selectpicker" multiple data-style="btn-white" title="Người được giao">
                            <option>Nguyễn Văn A</option>
                            <option>Trần Văn A</option>
                            <option>Lại Thị C</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Tạo mới</legend>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" checked="checked" value="1" /><strong>Tất cả</strong>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="1" /><strong>Hôm nay</strong>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="0" /><strong> Từ</strong>
                                </div>
                                <div class="form-group" style="margin-left: 4px">
                                    <strong> Đến</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <input type="text" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Hoàn thành</legend>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" checked="checked" value="1" /><strong>Tất cả</strong>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="1" /><strong>Hôm nay</strong>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="0" /><strong> Từ</strong>
                                </div>
                                <div class="form-group" style="margin-left: 4px">
                                    <strong> Đến</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <input type="text" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Trễ hẹn</legend>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" checked="checked" value="1" /><strong>Tất cả</strong>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="1" /><strong>Hôm nay</strong>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="radio" name="todayOrRange" value="0" /><strong> Từ</strong>
                                </div>
                                <div class="form-group" style="margin-left: 4px">
                                    <strong> Đến</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <input type="text" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table v-middle">
                                <thead>
                                    <tr>
                                        <th>Yêu cầu hổ trợ <a class="close"><i class="fa fa-refresh"></i></a></th>
                                    </tr>
                                </thead>
                                <tbody id="hdSrvTblBody">
                                    <tr id="hdReq_15" onclick="hdRequestDetail(15)">
                                        <td>
                                            Sữa ống nước nhà vệ sinh
                                        </td>
                                    </tr>
                                    <tr id="hdReq_16" onclick="hdRequestDetail(16)">
                                        <td>
                                            Sữa ống nước nhà vệ sinh
                                        </td>
                                    </tr>
                                    <tr id="hdReq_17" onclick="hdRequestDetail(17)">
                                        <td>
                                            Sữa ống nước nhà vệ sinh
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sữa ống nước nhà vệ sinh Sữa ống nước nhà vệ s
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sữa ống nước nhà vệ sinhS ữa ống nước nhà vệ
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sữa ống nước nhà vệ sinh
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sữa ống nước nhà vệ sinh
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sữa ống nước nhà vệ sinh
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer padding-none text-center">

                            <ul class="pagination">
                                <li>
                                    <a href="#">&laquo;</a>
                                </li>

                                <li class="active">
                                    <a href="#">1</a>
                                </li>

                                <li>
                                    <a href="#">2</a>
                                </li>

                                <li>
                                    <a href="#">3</a>
                                </li>

                                <li>
                                    <a href="#">&raquo;</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9" style="padding-left: 0">
                        <fieldset class="scheduler-border less-padding square">
                            <div class="form-group" style="padding-top: 15px">
                                <span for="HdSrvName" class="col-sm-1 control-label">Tòa nhà</span>
                                <div class="col-sm-3">
                                    <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="V5">
                                </div>
                                <span for="HdSrvName" class="col-sm-1 control-label">Tầng</span>
                                <div class="col-sm-3">
                                    <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="R3">
                                </div>
                                <span for="HdSrvName" class="col-sm-1 control-label">Căn hộ</span>
                                <div class="col-sm-3">
                                    <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="Sunrise View">
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="btn btn-default col-sm-offset-1 btn-sm">Close</span>
                                <span class="btn btn-default btn-sm" data-toggle="modal" data-target="#updateHdRequestModal" data-placement="center">Chỉnh sửa</span>
                                <span class="btn btn-default btn-sm">Reopen</span>
                                <span class="btn btn-default btn-sm" data-toggle="modal" data-target="#assignTaskModal" data-placement="center">Chia việc</span>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <fieldset class="scheduler-border less-padding border-top">
                                        <legend class="scheduler-border bold-black">Chi tiết</legend>
                                        <div class="form-group">
                                            <span for="HdSrvName" class="col-sm-3 control-label">Tiêu đề</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="Sữa ống nước nhà vệ sinh">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="HdSrvName" class="col-sm-3 control-label">Nhóm dịch vụ</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="HdSrvName" class="col-sm-3 control-label">Loại dịch vụ</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="HdSrvName" class="col-sm-3 control-label">Trạng thái</span>
                                            <div class="col-sm-9">
                                                <span class="label label-info">Bắt đầu tiến hành</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="HdSrvName" class="col-sm-3 control-label">Mức độ</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="HdSrvName" class="col-sm-3 control-label">Giá tiền</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvName" type="text" name="hdSrvName" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="inputFirstname" class="col-sm-3 control-label">Miêu tả</span>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset class="scheduler-border less-padding border-top" style="margin-bottom: 0px !important">
                                        <legend class="scheduler-border bold-black">Người được giao</legend>
                                        <div class="form-group">
                                            <span for="hdSrvCat" class="col-sm-3 control-label">Thành viên</span>
                                            <div class="col-sm-9">
                                                <select id="hdSrvCat" name="hdSrvCat" class="form-control" data-size="3"></select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="scheduler-border less-padding border-top">
                                        <legend class="scheduler-border bold-black">Thời gian</legend>
                                        <div class="form-group">
                                            <span for="hdSrvCat" class="col-sm-3 control-label">Khởi tạo</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvCat" name="hdSrvCat" class="form-control datepicker" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="hdSrvCat" class="col-sm-3 control-label">Cập nhật</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvCat" name="hdSrvCat" class="form-control datepicker" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="hdSrvCat" class="col-sm-3 control-label">Hết hạn</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvCat" name="hdSrvCat" class="form-control datepicker" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span for="hdSrvCat" class="col-sm-3 control-label">Hoàn thành</span>
                                            <div class="col-sm-9">
                                                <input id="hdSrvCat" name="hdSrvCat" class="form-control datepicker" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <fieldset class="scheduler-border less-padding border-top">
                                        <legend class="scheduler-border bold-black">Lịch sử</legend>
                                        <div class="table-responsive">
                                            <table class="table v-middle">
                                                <thead>
                                                    <tr>
                                                        <th>NV chuyển yêu cầu</th>
                                                        <th>Từ trạng thái</th>
                                                        <th>NV nhận yêu cầu</th>
                                                        <th>Sang trạng thái</th>
                                                        <th>Thời gian</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="hdSrvTblBody">
                                                    <tr>
                                                        <td>Nguyễn Văn Gữi</td>
                                                        <td><span class="label label-info">Mở</span></td>
                                                        <td>Nguyễn Văn Nhận</td>
                                                        <td><span class="label label-info">Chờ xử lý</span></td>
                                                        <td><span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn Nhận</td>
                                                        <td><span class="label label-info">Chờ xử lý</span></td>
                                                        <td>Nguyễn Văn Thực Hiện Yêu Cầu</td>
                                                        <td><span class="label label-info">Đã giao việc</span></td>
                                                        <td><span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn Thực Hiện Yêu Cầu</td>
                                                        <td><span class="label label-info">Đã giao việc</span></td>
                                                        <td></td>
                                                        <td><span class="label label-info">Bắt đầu tiến hành</span></td>
                                                        <td><span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn Thực Hiện Yêu Cầu</td>
                                                        <td><span class="label label-info">Bắt đầu tiến hành</span></td>
                                                        <td>Nguyễn Văn Nhận</td>
                                                        <td><span class="label label-info">Đã hoàn thành</span></td>
                                                        <td><span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn Nhận</td>
                                                        <td><span class="label label-info">Đã hoàn thành</span></td>
                                                        <td>Nguyễn Văn Gữi</td>
                                                        <td><span class="label label-info">Chờ xác nhận căn hộ</span></td>
                                                        <td><span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn Gữi</td>
                                                        <td><span class="label label-info">Chờ xác nhận căn hộ</span></td>
                                                        <td></td>
                                                        <td><span class="label label-info">Đóng và hoàn thành</span></td>
                                                        <td><span class="label label-warning">08:08</span> <span class="label label-gray">03/03/2013</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
