@using AMS.Constant
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ManageReipt";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}


<div class="col-md-12">
    <div class="panel panel-default">


        <div class="heading-tab">
            <i class="fa fa-list"> Chi tiết yêu cầu</i>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/Management/BalanceSheet/View/@User.Identity.GetUserId()"><i class="fa fa-file-text-o"></i> Thu chi theo tháng</a>
                </li>
                <li>
                    <a href="/Management/BalanceSheet/ManageIncomeView"><i class="fa fa fa-plus"></i> Quản lý thu</a>
                </li>
                <li class="">
                    <a href="/Management/BalanceSheet/ManageLiabilities"><i class="fa fa fa-plus"></i> Quản lý chi</a>
                </li>
                <li class="">
                    <a href="/Management/BalanceSheet/@User.Identity.GetUserId()"><i class="fa fa fa-plus"></i> Biểu đồ</a>
                </li>
            </ul>
        </div>


        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-offset-3 col-md-1">Tháng</label>
                            <div class="col-md-3">
                                <input id="testMonthPicker" type="text" class="form-control"
                                       data-date-start-view="1" data-date-format="MM/yyyy" data-date-language="vi"
                                       data-date-min-view-mode="1" data-date-end-date="0m" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn btn-primary" value="Xem" />
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="col-md-6">
                                <fieldset class="scheduler-border less-padding border-top">
                                    <legend class="scheduler-border bold-black">Chi tiết</legend>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="title" class="control-label">Tiêu đề</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="title" class="form-control" value="Bảng báo cáo thu chi tháng 3" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Ngày tạo</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" value="03/03/2013" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Ngày cập nhật</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" value="03/03/2013" />
                                        </div>
                                    </div><div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Ghi chú</label>
                                        </div>
                                        <div class="col-md-8">
                                            <textarea rows="4" class="form-control">Không có ý than phiền</textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6 ">
                                <fieldset class="scheduler-border less-padding border-top">
                                    <legend class="scheduler-border bold-black">Tổng quan về thu chi</legend>
                                    <div class="table-responsive">
                                        <table class="table v-middle table-bordered table-striped balance-sheet">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2"></th>
                                                    <th rowspan="2">Tên</th>
                                                    <th colspan="2" class="text-capitalize text-center" style="background-color: #dddddd">Bảng thu chi tài chính tháng 12</th>
                                                </tr>
                                                <tr>
                                                    <th>Thu</th>
                                                    <th>Chi</th>
                                                </tr>
                                            </thead>
                                            <tbody id="hdReqLogTblBody">
                                                <tr>
                                                    <td>1</td>
                                                    <td>Ước tính</td>
                                                    <td>100,0000</td>
                                                    <td>15,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Đã hoàn tất</td>
                                                    <td>100,0000</td>
                                                    <td>15,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cần phải thực hiện</td>
                                                    <td>100,0000</td>
                                                    <td>15,000,000</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2" class="text-right" style="font-weight: 600; font-size: 18px;">Lãi</td>
                                                    <td colspan="2" class="info" style="font-weight: 600; font-size: 18px;">200,000,000</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-5">
                                <fieldset class="scheduler-border less-padding border-top">
                                    <legend class="scheduler-border bold-black">Chi tiết các khoản thu</legend>
                                    <div class="table-responsive">
                                        <table id="detailIncomeTbl" class="table v-middle table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Khoản thu</th>
                                                    <th>Đẵ thu</th>
                                                    <th>Còn lại</th>
                                                    <th>Tổng</th>
                                                </tr>
                                            </thead>
                                            <tbody id="hdReqLogTblBody">
                                                <tr>
                                                    <td>1</td>
                                                    <td>Thu tiền điện</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                    <td>150,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Tiền thuê mặt bằng</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                    <td>150,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Tiền thuê mặt bằng</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                    <td>150,000,000</td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td><strong>Tổng</strong></td>
                                                    <td><strong>150,0000</strong></td>
                                                    <td><strong>7,500,0000</strong></td>
                                                    <td><strong>70,000,000</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-5">
                                <fieldset class="scheduler-border less-padding border-top">
                                    <legend class="scheduler-border bold-black"> Chi tiết các khoản chi</legend>
                                    <div class="table-responsive">
                                        <table class="table v-middle table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Khoản chi</th>
                                                    <th>Ước tính</th>
                                                    <th>Đẵ trã</th>
                                                    <th>Còn lại</th>
                                                </tr>
                                            </thead>
                                            <tbody id="hdReqLogTblBody">
                                                <tr>
                                                    <td>1</td>
                                                    <td>Chi tiền điện nước</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Chi tiền trả nhân viên</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Cây xanh</td>
                                                    <td>150,000,000</td>
                                                    <td>70,000,000</td>
                                                    <td>80,000,000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#testMonthPicker").datepicker(
        {
            startView: 1,
            language: "vi"
        });

        $("#detailIncomeTbl").DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            "searching": false,
            headers: {
                1: {
                    sorter: false
                }
            }
        });
    });

</script>