@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage Income";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">

        <div class="heading-tab">
            <i class="fa fa-list"> Danh sách dịch vụ sửa chữa</i>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li>
                    <a href="/Management/BalanceSheet/View"><i class="fa fa-file-text-o"></i> Thu chi theo tháng</a>
                </li>
                <li class="active">
                    <a href="/Management/BalanceSheet/ManageIncomeView"><i class="fa fa fa-plus"></i> Quản lý thu</a>
                </li>
                <li class="">
                    <a href="/Management/BalanceSheet/ManageLiabilities"><i class="fa fa fa-plus"></i> Quản lý chi</a>
                </li>
                <li class="">
                    <a href="/Management/BalanceSheet/"><i class="fa fa fa-plus"></i> Biểu đồ</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="panel panel-default" style="border-color: transparent">
                        <form class="form-horizontal" role="form">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="listIncomeTbl" class="table v-middle table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên</th>
                                                <th>Nhóm</th>
                                                <th>Cho tháng</th>
                                                <th>Giá tiền</th>
                                                <th>Ngày tạo</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addIncomeLineModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thêm khoản thu</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">

                    <div class="alert alert-info" id="successAddTransNotify" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>Thêm khoản thu thành công.</span>
                    </div>
                    <div class="alert alert-warning" id="failedAddTransNotify" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>Thêm khoản thu thất bại.</span>
                    </div>

                    <form id="addIncomeLineForm" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="transItemTitle" class="col-sm-3 control-label">Tên </label>
                            <div class="col-sm-9">
                                <input id="transItemTitle" type="text" name="TransItemTitle" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="transCat" class="col-sm-3 control-label">Nhóm </label>
                            <div class="col-sm-7">
                                <select id="transCat" name="TransItemCatId" class="form-control" data-size="3"></select>
                            </div>
                            <span class="btn btn-stroke btn-info btn-sm" onclick="closePopupAndShowOther()"><i class="fa fa-plus"></i> Nhóm</span>
                        </div>
                        <div class="form-group">
                            <label for="transItemForMonthView" class="col-sm-3 control-label">Cho tháng</label>
                            <div class="col-sm-9">
                                <input id="transItemForMonthView" type="text" class="form-control"
                                       data-date-start-view="1" data-date-format="mm-yyyy" data-date-language="vi"
                                       data-date-min-view-mode="1" data-date-end-date="+1m" data-date-start-date="-3m" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="transItemTotalAmount" class="col-sm-3 control-label">Tổng thanh toán</label>
                            <div class="col-sm-9">
                                <input id="transItemTotalAmount" name="TransItemTotalAmount" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="transItemPaidAmount" class="col-sm-3 control-label">Đã thanh toán</label>
                            <div class="col-sm-9">
                                <input id="transItemPaidAmount" name="TransItemPaidAmount" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="transItemDesc" class="col-sm-3 control-label">Mô tả</label>
                            <div class="col-sm-9">
                                <textarea id="transItemDesc" name="TransItemDesc" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-md-2">
                                <span id="addIncomeTrans" onclick="addIncomeTransaction()" class="btn btn-primary">Chấp nhận</span>
                            </div>
                            <div class="col-sm-offset-9 col-md-2 ">
                                <span id="updateIncomeTrans" onclick="updateIncomeTransaction()" class="btn btn-primary hide">Chấp nhận</span>
                            </div>
                        </div>
                        <input type="hidden" id="transItemForMonth" name="TransItemForMonth" value="" />
                        <input type="hidden" id="transItemId" name="TransItemId" value="" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addTransactionTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="hdSrvModalTitle" class="modal-title">Thêm loại giao dịch</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">

                    <div class="alert alert-info" id="successAddTransTypeNotify" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>Thêm loại giao dịch thành công.</span>
                    </div>
                    <div class="alert alert-warning" id="failedAddTransTypeNotify" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span>Thêm loại giao dịch thất bại.</span>
                    </div>

                    <form id="addTransactionTypeForm" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="transTypeName" class="col-sm-3 control-label">Tên </label>
                            <div class="col-sm-9">
                                <input id="transTypeName" type="text" name="TransItemCatName" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Loại </label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" value="1" checked="checked" name="TransItemType" />Thu
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="2" name="TransItemType" />Chi
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-md-2">
                                <span id="addHdSrv" onclick="addTransactionItemCat()" class="btn btn-primary">Chấp nhận</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#transItemForMonthView").datepicker();

        window.listIncomeTable = $("#listIncomeTbl").DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "ajax": {
                url: "/Management/BalanceSheet/GetIncomeTransItems",
                dataSrc: ""
            },
            "drawCallback": function (settings) {
                var addBtn = "<div class='col-md-1'>" +
                    "<span class='btn btn-info' onclick='openAddIncomeLineModal()'>" +
                    "<i class='fa fa-plus'></i>" +
                    "</span>" +
                    "</div>";
                $("#listIncomeTbl_wrapper > div:nth-child(1) > div:nth-child(1)").html(addBtn);
            },
            "columns": [
            { data: "TransItemTitle" },
            { data: "TransItemTitle" },
            { data: "TransItemCatName" },
            { data: "TransItemForMonth" },
            { data: "TransItemTotalAmount" },
            { data: "TransItemCreateDate" },
            { data: "TransItemId" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 3,
                    "data": "TransItemForMonth",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var dateMonth = data.split("-");

                            return "<td>" +
                                        "<span class='label date-color' style='margin-right: 5px'>" + dateMonth[0] + "</span>" +
                                        "<span class='label time-color'>" + +dateMonth[1] + "</span>" +
                                    "</td>";
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "data": "TransItemTotalAmount",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return numberWithCommas(data);
                        }
                        return data;
                    }
                },
                {
                    "targets": 6,
                    "data": "TransItemId",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<div class='text-right'>" +
                                " <span onclick='openUpdateIncomeLineModal(\"" + data + "\")' class='btn btn-default btn-xs'> " +
                                    " <i class='fa fa-pencil'></i> " +
                                " </span> " +
                                " <span href='#' class='btn btn-danger btn-xs' onclick='deleteHelpdeskService(\"" + data + "\")'> " +
                                "    <i class='fa fa-times'></i> " +
                                "  </span> " +
                                " </div>";
                        }
                        return data;
                    }
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 6
                }
            ]
        });
        generateTableIndex(listIncomeTable);

        $("#addIncomeLineModal").on("hidden.bs.modal", function () {
            resetFormData("addIncomeLineForm");
        });
        $("#addTransactionTypeModal").on("hidden.bs.modal", function () {
            resetFormData("addTransactionTypeForm");
        });
    });

    function closePopupAndShowOther() {
        $("#addIncomeLineModal").modal("hide");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        setTimeout(function () {
            $("#addTransactionTypeModal").modal("show");
        }, 500);
    }

    function addTransactionItemCat() {
        $.ajax({
            "url": "/Management/BalanceSheet/AddTransactionType",
            "type": "POST",
            "data": $("#addTransactionTypeForm").serialize(),
            "success": function (data) {
                if (data.StatusCode === 0) {
                    $("#successAddTransTypeNotify").fadeIn("fast");
                    setTimeout(function () {
                        $("#successAddTransTypeNotify").fadeOut("fast");
                        resetFormData("addTransactionTypeForm");
                    }, 3000);
                }
            }
        });
    }
    function getTransactionItemCat(type, id, callback) {
        $.ajax({
            type: "GET",
            url: "/Management/BalanceSheet/GetAllTransactionType?type=" + type,
            success: function (data) {
                if (data.StatusCode === 0) {
                    var obj = data.Data;
                    var selectTagInHTML = parseJsonToSelectTags(obj, id, "-----Hãy chọn nhóm chi tiêu-----");
                    callback(selectTagInHTML);
                }
            }
        });
    }
    function openAddIncomeLineModal() {
        getTransactionItemCat(1, -1, function (data) {
            $("#transCat").html(data);
            $("#updateIncomeTrans").removeClass("hide").addClass("hide");
            $("#addIncomeTrans").removeClass("hide");

            $("#addIncomeLineModal").modal("show");
        });
    }

    function openUpdateIncomeLineModal(id) {
        $.ajax({
            url: "/Management/BalanceSheet/GetTransItemDetail",
            type: "GET",
            data: { id: id },
            success: function (data) {
                var obj = data.Data;
                $("#transItemTitle").val(obj.TransItemTitle);
                $("#transCat").val(obj.TransItemCatName);
                $("#transItemForMonthView").val(obj.TransItemForMonth);
                $("#transItemTotalAmount").val(obj.TransItemTotalAmount);
                $("#transItemPaidAmount").val(obj.TransItemPaidAmount);
                $("#transItemDesc").val(obj.TransItemDesc);
                $("#transItemId").val(obj.TransItemId);

                getTransactionItemCat(1, obj.TransItemCatId, function (data) {
                    $("#transCat").html(data);

                    $("#addIncomeTrans").removeClass("hide").addClass("hide");
                    $("#updateIncomeTrans").removeClass("hide");

                    $("#addIncomeLineModal").modal("show");
                });
            }
        });
    }

    function updateIncomeTransaction() {
        var forMounth = "01-" + $("#transItemForMonthView").val();
        $("#transItemForMonth").val(forMounth);
        $.ajax({
            url: "/Management/BalanceSheet/UpdateTransactionItem",
            type: "POST",
            data: $("#addIncomeLineForm").serialize(),
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#successAddTransNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#successAddTransNotify").fadeOut("slow");
                    }, 3000);
                    resetFormData("addIncomeLineForm");
                    window.listIncomeTable.ajax.reload();
                } else {
                    $("#failedAddTransNotify").fadeIn("fast");
                    setTimeout(function () {
                        $("#failedAddTransNotify").fadeOut("fast");
                    }, 3000);
                }
                console.log(data);
            }
        });
        $("#transItemForMonth").val("");
    }

    function addIncomeTransaction() {
        var forMounth = "01-" + $("#transItemForMonthView").val();
        $("#transItemForMonth").val(forMounth);
        $.ajax({
            url: "/Management/BalanceSheet/AddTransactionItem",
            type: "POST",
            data: $("#addIncomeLineForm").serialize(),
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#successAddTransNotify").fadeIn("slow");
                    setTimeout(function () {
                        $("#successAddTransNotify").fadeOut("slow");
                    }, 3000);
                    resetFormData("addIncomeLineForm");
                    window.listIncomeTable.ajax.reload();
                } else {
                    $("#failedAddTransNotify").fadeIn("fast");
                    setTimeout(function () {
                        $("#failedAddTransNotify").fadeOut("fast");
                    }, 3000);
                }
                console.log(data);
            }
        });
        $("#transItemForMonth").val("");
    }
</script>
