@using AMS.Enum
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/HelpdeskSupporter/__HelpdeskSupporterLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Yêu cầu helpdesk</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post">
                <div class="table-responsive">
                    <table class="table table-striped" id="myTable" data-user-id="@User.Identity.GetUserId()">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tiêu đề</th>
                                <th>Căn hộ</th>
                                <th>Ngày tạo</th>
                                <th>Ngày hết hạn</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var userId = document.getElementById("myTable").dataset.userId;
       var hdSupporterTbl =  $('#myTable').DataTable({
            "ajax": {
                url: "/HelpdeskSupporter/GetListRequest?supporterId=" + userId,
                dataSrc: ""
            },

            "bLengthChange": false,
            "bInfo": false,

            "columns": [
                { data: "Title" },
                { data: "Title" },
                { data: "HelpdeskServiceCatName" },
                { data: "Status" },
                { data: "CreateDate" },
                { data: "DueDate" },
                { data: "Id" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 1,
                    "width": "25%"
                },
                {
                    "targets": 3,
                    "render": function (data, type, full) {
                        if (type === "display" || type === "filter") {
                            var msg = "";
                            if (data === window.StatusOpen) {
                                msg = "Chưa giải quyết";
                                return "<span class='label label-info'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusProcessing) {
                                msg = "Đang xử lý";
                                return "<span class='label processing'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusDone) {
                                msg = "Hoàn thành";
                                return "<span class='label label-success'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusClose) {
                                msg = "Đóng";
                                return "<span class='label label-danger'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusCancel) {
                                msg = "Hủy";
                                return "<span class='label label-gray'>" +
                                    msg + "</div>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var dateTime = data.split(" ");
                            return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                        }
                        return full.CreateDateLong;
                    },
                    "width": "15%"
                },
                {
                    "targets": 5,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data !== null && data !== undefined) {
                                var dateTime = data.split(" ");
                                return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                            }
                            return "Đang xác nhận";
                        }
                        return full.DueDateLOng;
                    },
                    "width": "15%"
                },
                {
                    "targets": 6,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<div style='text-align:right'><span class='btn btn-default btn-xs' onclick='hdReqDetail(" + data + ")'> <i class='fa fa-pencil'></i> </span></div>";
                        }
                        return data;
                    }
                }
            ], "order": [[4, 'desc']]
       });
       generateTableIndex(hdSupporterTbl);
    });
    function hdReqDetail(reqId) {
        var userId = document.getElementById("myTable").dataset.userId;
        location.href = "/HelpdeskSupporter/Detail?currHelpdeskSupporterId=" + userId + "&requestId=" + reqId;
    }
</script>

<!--<div id="loadData" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Chi tiết </h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tiêu đề</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Căn hộ</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="houseName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Nội dung</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Ngày tạo</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="createDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Ngày đóng</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="assignDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Trạng thái</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <select id="status" name="select" class="selectpicker" data-style="btn-white" data-size="5">
                                        <option value="1" selected="selected">Assigned</option>
                                        <option value="2">Done</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Giá dịch vụ (VND)</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Thuộc dịch vụ</label>
                            <div class="col-sm-9">
                                <input type="email" readonly="readonly" class="form-control" id="serviceName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                                <input hidden="hidden" id="hiddenId" />
                                <button type="submit" onclick="updateRequest(hiddenId.value, status.value)" class="btn btn-primary">Cập Nhật</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--Script Region-->
<!--
    <script>
    function getSelectedRequest(selectedId) {
        loadSelectedRequest(selectedId);
    }
    function loadSelectedRequest(hrId) {
        $.ajax({
            url: '/HelpdeskSupporter/Detail',
            data: {
                id: hrId
            },
            error: function () {
                alert("Xảy ra lỗi trong quá trình tải dữ liệu!")
            },
            success: function (request) {
                $("#title").val(request.Title)
                $("#houseName").val(request.HouseName)
                $("#description").val(request.Description)
                $("#createDate").val(request.CreateDate)
                $("#assignDate").val(request.AssignDate)
                $("#status").val(request.Status)
                $("#price").val(request.Price)
                $("#serviceName").val(request.HelpdeskServiceName)
                $("#hiddenId").val(request.Id)
                location.href = "HelpdeskSupporter/Detail";
            },
            type: 'POST'
        });
    }
</script>
<script>
    function updateRequest(currId, currStatusValue) {
        $.ajax({
            url: '/HelpdeskSupporter/UpdateRequest',
            data: {
                id: currId,
                status: currStatusValue
            },
            error: function () {
                alert("error")

            },
            success: function (data) {
                //if (data === true) {
                //    //alert("Thanh cong!");
                //    location.reload = "/HelpdeskSupporter/Index";
                //}
                //else
                //{
                alert(data);
                location.reload = "/HelpdeskSupporter/Index";

                //}
            },
            type: 'POST'
        });
    }
</script>-->
<!--End Script Region-->
