@using AMS.Enum
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/HelpdeskSupporter/__HelpdeskSupporterLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="heading-tab supporter">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Danh sách yêu cầu sửa chữa hiện tại</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/HelpdeskSupporter"><i class="icon-newspaper"></i> Yêu cầu sửa chữa</a>
                </li>
                <li>
                    <a href="/HelpdeskSupporter/History"><i class="icon-bookmark"></i> Lịch sử hoạt động</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="myTable" data-user-id="@User.Identity.GetUserId()">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tiêu đề</th>
                            <th>Căn hộ</th>
                            <th>Ngày tạo</th>
                            <th>Ngày hết hạn</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Tiêu đề</th>
                                <th>Căn hộ</th>
                                <th>Ngày tạo</th>
                                <th>Ngày hết hạn</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var userId = document.getElementById("myTable").dataset.userId;
       var hdSupporterTbl =  $('#myTable').DataTable({
            "ajax": {
                url: "/HelpdeskSupporter/GetListRequest?supporterId=" + userId,
                dataSrc: ""
            },

            "bLengthChange": false,
            "bInfo": false,

            "columns": [
                { data: "Title" },
                { data: "Title" },
                { data: "HelpdeskServiceCatName" },
                { data: "Status" },
                { data: "CreateDate" },
                { data: "DueDate" },
                { data: "Id" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "targets": 1,
                    "width": "25%"
                },
                {
                    "targets": 3,
                    "render": function (data, type, full) {
                        if (type === "display" || type === "filter") {
                            var msg = "";
                            if (data === window.StatusOpen) {
                                msg = "Chưa giải quyết";
                                return "<span class='label label-info'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusProcessing) {
                                msg = "Đang xử lý";
                                return "<span class='label processing'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusDone) {
                                msg = "Hoàn thành";
                                return "<span class='label label-success'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusClose) {
                                msg = "Đóng";
                                return "<span class='label label-danger'>" +
                                    msg + "</div>";
                            } else if (data === window.StatusCancel) {
                                msg = "Hủy";
                                return "<span class='label label-gray'>" +
                                    msg + "</div>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var dateTime = data.split(" ");
                            return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                        }
                        return full.CreateDateLong;
                    },
                    "width": "15%"
                },
                {
                    "targets": 5,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data !== null && data !== undefined) {
                                var dateTime = data.split(" ");
                                return "<strong>" + dateTime[0] + "</strong> " + dateTime[1];
                            }
                            return "Đang xác nhận";
                        }
                        return full.DueDateLOng;
                    },
                    "width": "15%"
                },
                {
                    "targets": 6,
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            return "<div style='text-align:right'><span class='btn btn-default btn-xs' onclick='hdReqDetail(" + data + ")'> <i class='fa fa-pencil'></i> </span></div>";
                        }
                        return data;
                    }
                }
            ], "order": [[4, 'desc']]
       });
       generateTableIndex(hdSupporterTbl);
    });
    function hdReqDetail(reqId) {
        var userId = document.getElementById("myTable").dataset.userId;
        location.href = "/HelpdeskSupporter/Detail?currHelpdeskSupporterId=" + userId + "&requestId=" + reqId;
    }
    function generateTableIndex(datatable) {
        datatable.on('order.dt search.dt', function () {
            datatable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                if ($(cell.parentElement.previousSibling).hasClass("hide")) {
                    cell.innerHTML = i - 1;
                } else {
                    cell.innerHTML = i + 1;
                }
            });
        }).draw();
    }
</script>