
@{
    ViewBag.Title = "error_no_house";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:center">
    <img src="~/Content/images/error_no_house.png" />
    <h3>Lỗi: không thể tìm thấy nhà hiện tại của bạn</h3>
    <h4>Vui lòng liên hệ ban quản lý để giải quyết</h4>
</div>