@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ReceiptView";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12" @*style="-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;"*@>
    <div class="panel panel-default">

        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Danh sách hóa đơn</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/Management/ManageReceipt/View"><i class="fa fa-file-text-o"></i> Quản lý hóa đơn</a>
                </li>
                <li class="">
                    <a href="/Management/ManageReceipt/CreateManualReceiptView"><i class="fa fa-file-o"></i> Tạo hóa đơn lẻ</a>
                </li>
                <li class="">
                    <a href="/Management/ManageReceipt/CreateAutomationReceiptView"><i class="fa fa-files-o"></i> Tạo hóa đơn hàng loạt</a>
                </li>
                <li class="">
                    <a href="/Management/ManageReceipt/ViewDownloadRecordTemplate"><i class="fa fa-cloud-download"></i> Tải bảng ghi nước</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" role="form">
                        <table id="managerOrderTbl" data-userid="@User.Identity.GetUserId()" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Loại</th>
                                    <th>Tiêu đề</th>
                                    <th>Căn hộ</th>
                                    <th>Tổng (đồng)</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Loại</th>
                                    <th>Tiêu đề</th>
                                    <th>Căn hộ</th>
                                    <th>Tổng (đồng)</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var fromUserId = document.getElementById("managerOrderTbl").dataset.userid;
        var dataTable5 = $("#managerOrderTbl").DataTable({
            "ajax": {
                url: "/Management/ManageReceipt/Admin/GetManagerOrderList?userId=" + fromUserId,
                dataSrc: ""
            },
            "order": [["6", "desc"]],
            "bLengthChange": false,
            "bInfo": false,
            "columns": [
                { data: "ReceiptTitle" },
                { data: "IsBatch" },
                { data: "ReceiptTitle" },
                { data: "HouseName" },
                { data: "TotalOrder" },
                { data: "Status" },
                { data: "CreateDate" },
                { data: "ReceiptId" }
            ],
            "columnDefs": [
            {
                "searchable": false,
                "orderable": false,
                "targets": 0
            },
            {
                "targets": 1,
                "width": "1%",
                "className": "dt-center",
                "data": "IsBatch",
                "render": function (data, type, full, meta) {
                    if (type === "display" || type === "filter") {
                        if (data === window.StatusAutomationReceipt) {
                            return "<i class='fa fa-users single-receipt'></i>";
                        } else {
                            return "<i class='fa fa-user single-receipt'></i>";
                        }
                    }
                    return data;
                }
            },
            {
                "targets": 2,
                "width": "30%"
            },
            {
                "targets": 3,
                "data": "HouseName",
                "render": function (data, type, full, meta) {
                    if (type === "display" || type === "filter") {
                        if (full.IsBatch !== window.StatusAutomationReceipt) {
                            //                            return "<span class='label date-color' style='margin-right: 5px'>" + full.Block + "</span>" +
                            //                                "<span class='label time-color' style='margin-right: 5px'>" + full.Floor + "</span>" +
                            //                                "<span class='label room-color' >" + full.HouseName + "</span>";
                            return "<span class='label room-color' >" + full.HouseName + "</span>";
                        }
                        return "";
                    }
                    return data;
                }
            },
            {
                "targets": 4,
                "data": "TotalOrder",
                "width": "10%",
                "render": function (data, type, full, meta) {
                    if (type === "display" || type === "filter") {
                        //                        if (full.IsBatch !== window.StatusAutomationReceipt) {
                        //                            return numberWithCommas(data);
                        //                        }
                        //                        return "";
                        return numberWithCommas(data);
                    }
                    return data;
                }
            },
            {
                "targets": 5,
                "data": "Status",
                "render": function (data, type, full) {
                    if (type === "display" || type === "filter") {
                        if (data === window.StatusUnpaid) {
                            return "<span class='label label-danger'> Chưa thanh toán</div>";
                        } else if (data === window.StatusPaid) {
                            return "<span class='label label-success'>" + "Đã thanh toán" + "</div>";
                        } else if (data === window.StatusUnpublished) {
                            return "<span class='label label-default'>" + "Chưa công bố" + "</div>";
                        }
                    }
                    return data;
                }
            },
            {
                "targets": 6,
                "data": "CreateDate",
                "width": "15%",
                "render": function (data, type, full) {
                    if (type === "display" || type === "filter") {
                        if (data !== null && data !== undefined) {
                            var dateTime = data.split(" ");
                            //                            return "<span class='label date-color label-warning'>" + dateTime[0] +
                            //                                "</span>  <span class='label time-color label-gray'>" + dateTime[1] + "</span>";
                            return "<strong>" + dateTime[0] +
                                "</strong> " + dateTime[1];
                        }
                    }
                    return full.CreateDateLong;
                }
            },
            {
                "targets": 7,
                "data": "ReceiptId",
                "render": function (data, type, full) {
                    if (type === "display" || type === "filter") {
                        if (data !== null && data !== undefined) {
                            if (full.IsBatch === window.StatusAutomationReceipt) {
                                return "<div style='text-align:right'><span onclick='editOrderDetail(\"" + full.CreateDateLong + "\",\"" + full.IsBatch + "\",\"" + fromUserId + "\")' class='btn btn-default btn-xs lbl-margin-right'>" +
                                "<i class='fa fa-pencil'></i>" +
                                "</span> </div>";
                            }
                            return "<div style='text-align:right'><span onclick='editOrderDetail(\"" + data + "\",\"" + full.IsBatch + "\",\"" + fromUserId + "\")' class='btn btn-default btn-xs lbl-margin-right'>" +
                                "<i class='fa fa-pencil'></i>" +
                                "</span> </div>";
                        }
                    }
                    return data;
                }
            }
            ]
        });
        generateTableIndex(dataTable5);
    });
    function editOrderDetail(receiptId, isBatch, userId) {
        if (parseInt(isBatch, 10) === window.StatusAutomationReceipt) {
            location.href = "/Management/ManageReceipt/ViewBatchReceipt?receiptId=" + receiptId;
        } else {
            location.href = "/Management/ManageReceipt/Edit/Detail?userId=" + userId + "&orderId=" + receiptId;
        }
    }
</script>
