
@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#image_container img').click(function () {
            //remove border on any images that might be selected
            $('#image_container img').removeClass("img_border")
            // set the img-source as value of image_from_list
            $('#image_from_list').val($(this).attr("src"));
            $('#data_value').val($(this).attr("id"));
            // $('#data_value').val( $(this).data("options").color );

            //add border to a clicked image
            $(this).addClass("img_border")
        });

    })
</script>
<style>
    .img_border {
        border: 2px solid red;
    }
</style>

<body>
    <div id="image_container">
        <img src="~/images/Post/survey-icon.png" id="vermillion" width="300px"/>
        <img src="~/images/Post/question_button.png" id="riverway" width="300px" />
        <img src="~/images/Post/default-profile.png" id="solaria" width="300px" />

    </div>

    <form action="" method="get">
        <input id="image_from_list" name="image_from_list" type="text" value="" />
        <input id="data_value" type="text" value="" />
    </form>
</body>

