@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Tao khao sat</div>
        <div class="panel-body">
            @using (Html.BeginForm("Surveys", "Survey", FormMethod.Post))
            {

                <table border="0">
                    <tr>
                        <td>
                            <button class="btn-primary" id="add">Thêm Câu Hỏi</button>
                            <button class="btn-primary" id="addAnwser">Thêm Câu Trả Lời</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px;" align="right">
                            Câu hỏi 1

                        </td>
                        <td>
                            <input type="text" id="question" name="question" value=""/>
                        </td>
                    </tr>

                    <tr style="background-color: #383838">
                        <td></td>
                    </tr>
                    <tr>
                        <td><button class="btn-primarys" id="">Tạo survey</button></td>
                    </tr>

                </table>
            }
        </div>
    </div>
</div>

<script>
    var countComment = 0;
    var countQuestion = 2;
    $('#add').click(function () {
       
        var table = $(this).closest('table');
        if (table.find('input:text').length < 7) {
            table.append('<tr><td style="width:200px;" align="right">Câu hỏi'+countQuestion+' <td> <input type="text" id="question" name="question"/> </td></tr>');
            //table.append('<tr><td style="width:200px;" align="right">Name <td> <textarea rows="2" cols="30" id="question" name="question"></textarea> </td></tr>');

        }
        countQuestion++;
        countComment = 0;
    });

    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".btn-primary"); //Add button ID
        var add_buttonAnswer = $(".btn-primarys"); //Add button anwser ID
        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
    var count = 0;
    $('#addAnwser').click(function () {
        count++;
        countComment++;
        var table = $(this).closest('table');
        if (table.find('input:text').length < 7) {
            table.append('<tr><td style="width:200px;" align="right">Đáp án ' + countComment + ' <td> <input  type="radio" id="anwser" name="anwser"> <input type="text" id="anwser1" name="anwser1"/><br></td></tr><tr><td><input type="hidden" id="count" name="count" value="' + countComment + '" /></td></tr>');
        }
       
    });

</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
